Repository mnbf9rca/IsTheTubeRunning: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

.pre-commit-config.yaml:

# Pre-commit hooks for monorepo
# Install: uv sync && uv run pre-commit install
# Run manually: uv run pre-commit run --all-files

repos:
  # Universal checks and auto-fixes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict

  # Backend: Ruff linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend: Type checking with mypy
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && uv run mypy app'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend: ESLint and TypeScript
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/src/.*\.[jt]sx?$
        pass_filenames: false
      - id: tsc
        name: tsc
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/src/.*\.[jt]sx?$
        pass_filenames: false

Enhance TfL service: document deferred code quality improvements and ensure database integrity during station graph rebuild
  IMPLEMENTATION_PLAN.md
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
Due: mypy

Feature/fix build graph station population (#27)
  IMPLEMENTATION_PLAN.md
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
Due: mypy

Refactor route management UI and functionality
  backend/app/services/tfl_service.py
  frontend/src/App.tsx
  frontend/src/components/routes/NotificationDisplay.tsx
  frontend/src/components/routes/RouteFormDialog.tsx
  frontend/src/components/routes/SegmentDisplay.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/CreateRoute.tsx
  frontend/src/pages/RouteDetails.tsx
  frontend/src/pages/Routes.test.tsx
  frontend/src/pages/Routes.tsx
  frontend/src/test/test-utils.tsx
  phase_10_implementation_plan.md
  phase_10_pr3_implementation_plan.md
Due: mypy, eslint, tsc

feat: implement route validation for maximum segments and acyclic routes; add corresponding tests and enhance UI for better user experience
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
  frontend/src/components/routes/SegmentBuilder.test.tsx
  frontend/src/components/routes/SegmentBuilder.tsx
  frontend/src/components/routes/StationCombobox.tsx
  frontend/src/pages/CreateRoute.tsx
  frontend/src/pages/RouteDetails.tsx
  phase_10_pr3_implementation_plan.md
Due: mypy, eslint, tsc

feat: enhance error handling for Auth0 session expiration and provide user feedback in Callback component
  frontend/src/hooks/useAuth.ts
  frontend/src/pages/Callback.tsx
Due: eslint, tsc

feat: improve SegmentBuilder UX by auto-filling line selection and updating instructions for clarity
  frontend/src/components/routes/SegmentBuilder.test.tsx
  frontend/src/components/routes/SegmentBuilder.tsx
  frontend/src/hooks/useAuth.ts
  phase_10_pr3_implementation_plan.md
Due: eslint, tsc

feat: add comprehensive analysis of route segment data model and propose improvements for clarity and validation
  route_segment_data_model_analysis.md
Due: none

feat: propose enhancements to route segment data model, including nullable line_id and sentinel line options for better clarity and validation
  route_segment_data_model_analysis.md
Due: none

feat: make route_segments.line_id nullable to allow terminal segments without a line_id
  backend/alembic/versions/958e140c30a0_make_route_segment_line_id_nullable.py
  backend/app/models/route.py
  backend/app/schemas/routes.py
  backend/app/schemas/tfl.py
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
Due: mypy

feat: update SegmentBuilder, SegmentCard, SegmentDisplay, and SegmentList to handle nullable line_id for better destination segment support
  frontend/src/components/routes/SegmentBuilder.tsx
  frontend/src/components/routes/SegmentCard.tsx
  frontend/src/components/routes/SegmentDisplay.tsx
  frontend/src/components/routes/SegmentList.tsx
  frontend/src/lib/api.ts
Due: eslint, tsc

feat: implement nullable line_id for route segments to accurately represent journey termination
  docs/adr/03-database.md
Due: none

feat: document implementation of nullable line_id in route segments and update analysis with UX improvements
  route_segment_data_model_analysis.md
Due: none

feat: implement button-based interface for route segment creation with auto-advance and line selection
  frontend/src/components/routes/DestinationButton.test.tsx
  frontend/src/components/routes/DestinationButton.tsx
  frontend/src/components/routes/LineButton.test.tsx
  frontend/src/components/routes/LineButton.tsx
  frontend/src/components/routes/SegmentBuilder.test.tsx
  frontend/src/components/routes/SegmentBuilder.tsx
  frontend/src/lib/tfl-colors.ts
  frontend/src/pages/CreateRoute.tsx
  route_segment_data_model_analysis.md
Due: eslint, tsc

feat: update LineButton and SegmentBuilder components to use official TfL line colors and improve route segment handling
  frontend/src/components/routes/LineButton.test.tsx
  frontend/src/components/routes/LineButton.tsx
  frontend/src/components/routes/SegmentBuilder.test.tsx
  frontend/src/components/routes/SegmentBuilder.tsx
  frontend/src/components/routes/SegmentCard.test.tsx
  frontend/src/components/routes/SegmentCard.tsx
  frontend/src/components/routes/SegmentList.test.tsx
  frontend/src/components/routes/SegmentList.tsx
  frontend/src/lib/tfl-colors.ts
  route_segment_data_model_analysis.md
Due: eslint, tsc

feat: Add multi-mode transport support (#28)
  backend/alembic/versions/2bae05497678_add_mode_to_lines.py
  backend/app/models/tfl.py
  backend/app/schemas/tfl.py
  backend/app/services/tfl_service.py
Due: mypy

feat: Extend TfL API integration to support multi-mode transport queries
  backend/tests/test_tfl_api.py
  backend/tests/test_tfl_service.py
  docs/adr/07-external-apis.md
Due: none

feat: Enhance TfL service to support multi-mode transport disruptions and caching
  .claude/settings.json
  backend/alembic/versions/2bae05497678_add_mode_to_lines.py
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
Due: mypy

feat: Add multi-mode transport support to TfL API integration (#30)
  .claude/settings.json
  backend/alembic/versions/2bae05497678_add_mode_to_lines.py
  backend/app/models/tfl.py
  backend/app/schemas/tfl.py
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_api.py
  backend/tests/test_tfl_service.py
  docs/adr/07-external-apis.md
Due: mypy

Add tests for TfL API routes and service layer
  backend/alembic/versions/941d95fee6c2_add_routes_to_lines.py
  backend/app/api/tfl.py
  backend/app/models/tfl.py
  backend/app/schemas/tfl.py
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_api.py
  backend/tests/test_tfl_service.py
Due: mypy

fix: Update tests for changed _fetch_route_sequence and _process_route_sequence signatures
  backend/tests/test_tfl_service.py
Due: none

refactor: Simplify route processing logic in TfLService and update related tests
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
Due: mypy

feat: Store route sequences for frontend route building (#29) (#32)
  backend/alembic/versions/941d95fee6c2_add_routes_to_lines.py
  backend/app/api/tfl.py
  backend/app/models/tfl.py
  backend/app/schemas/tfl.py
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_api.py
  backend/tests/test_tfl_service.py
Due: mypy

feat: Standardize API identifiers - use TfL IDs instead of UUIDs (#31)
  backend/app/models/route.py
  backend/app/schemas/routes.py
  backend/app/schemas/tfl.py
  backend/app/services/route_service.py
  backend/app/services/tfl_service.py
  backend/tests/test_route_service.py
  backend/tests/test_routes_api.py
  backend/tests/test_tfl_api.py
  backend/tests/test_tfl_service.py
  docs/adr/09-api-design.md
Due: mypy

feat: Standardize API identifiers - use TfL IDs instead of UUIDs (#31) (#33)
  backend/app/models/route.py
  backend/app/schemas/routes.py
  backend/app/schemas/tfl.py
  backend/app/services/route_service.py
  backend/app/services/tfl_service.py
  backend/tests/test_route_service.py
  backend/tests/test_routes_api.py
  backend/tests/test_tfl_api.py
  backend/tests/test_tfl_service.py
  docs/adr/09-api-design.md
Due: mypy

feat: Make route_segments.line_id nullable to support destination segments - fixes #36 and fixes #37
  backend/alembic/versions/e5dfdd8388bc_make_route_segment_line_id_nullable.py
  backend/app/models/route.py
  backend/app/services/route_service.py
  backend/app/services/tfl_service.py
  backend/tests/test_models.py
Due: mypy

feat: Allow nullable line_tfl_id for route segments to support destination segments
  backend/app/schemas/routes.py
  backend/app/schemas/tfl.py
  backend/app/services/route_service.py
  backend/app/services/tfl_service.py
  backend/tests/test_routes_api.py
  backend/tests/test_tfl_service.py
  docs/adr/03-database.md
Due: mypy

feat: Refactor route segment properties to use TfL IDs instead of UUIDs
  frontend/src/components/routes/DestinationButton.tsx
  frontend/src/components/routes/SegmentBuilder.test.tsx
  frontend/src/components/routes/SegmentBuilder.tsx
  frontend/src/components/routes/SegmentDisplay.tsx
  frontend/src/components/routes/SegmentList.test.tsx
  frontend/src/components/routes/SegmentList.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/CreateRoute.tsx
  frontend/src/pages/RouteDetails.tsx
Due: eslint, tsc

Update frontend/src/pages/RouteDetails.tsx
  frontend/src/pages/RouteDetails.tsx
Due: eslint, tsc

chore: remove invalid 'use client' directives from shadcn/ui components
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/switch.tsx
Due: eslint, tsc

feat: implement branch-aware route validation to prevent unreachable segments (#39)
  backend/app/schemas/tfl.py
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
  docs/adr/07-external-apis.md
  frontend/src/components/routes/SegmentBuilder.tsx
  frontend/src/hooks/useTflData.test.ts
  frontend/src/hooks/useTflData.ts
  frontend/src/lib/api.ts
  frontend/src/pages/CreateRoute.tsx
  frontend/src/pages/RouteDetails.tsx
Due: mypy, eslint, tsc

feat: Implement route sequence validation to prevent cross-branch travel and enhance station reachability
  frontend/src/components/routes/SegmentBuilder.test.tsx
  frontend/src/components/routes/SegmentBuilder.tsx
Due: eslint, tsc

feat: Refactor segment addition logic to improve route validation and handling of current station transitions
  frontend/src/components/routes/SegmentBuilder.tsx
Due: eslint, tsc

feat: Fix starting station display and heading text logic to resolve bug #56
  frontend/src/components/routes/SegmentBuilder.test.tsx
  frontend/src/components/routes/SegmentBuilder.tsx
Due: eslint, tsc

test: Fix test data consistency in SegmentBuilder tests
  frontend/src/components/routes/SegmentBuilder.test.tsx
Due: eslint, tsc

Feature/issue 39 fix route validation (#58)
  backend/app/schemas/tfl.py
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
  docs/adr/07-external-apis.md
  frontend/src/components/routes/SegmentBuilder.test.tsx
  frontend/src/components/routes/SegmentBuilder.tsx
  frontend/src/hooks/useTflData.test.ts
  frontend/src/hooks/useTflData.ts
  frontend/src/lib/api.ts
  frontend/src/pages/CreateRoute.tsx
  frontend/src/pages/RouteDetails.tsx
Due: mypy, eslint, tsc

feat: Add GitHub CLI wrapper script for managing PR review comments and threads
  scripts/gh_pr_comment_action.sh
Due: none

fix: Address JSON injection and output handling issues in gh_pr_comment_action.sh
  scripts/gh_pr_comment_action.sh
Due: none

docs: Document pagination limits and fix error detection logic
  scripts/gh_pr_comment_action.sh
Due: none

feat: Add script permission for gh_pr_comment_action.sh in settings.json
  .claude/settings.json
Due: none
