Repository mnbf9rca/IsTheTubeRunning: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

.pre-commit-config.yaml:

# Pre-commit hooks for monorepo
# Install: uv sync && uv run pre-commit install
# Run manually: uv run pre-commit run --all-files

repos:
  # Universal checks and auto-fixes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict

  # Backend: Ruff linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend: Type checking with mypy
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && uv run mypy app'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend: ESLint and TypeScript
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/src/.*\.[jt]sx?$
        pass_filenames: false
      - id: tsc
        name: tsc
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/src/.*\.[jt]sx?$
        pass_filenames: false

feat: Implement lazy initialization for database engine and session factory to ensure fork safety in FastAPI with multiple workers (#154)
  .claude/settings.json
  backend/app/celery/database.py
  backend/app/core/database.py
  backend/app/main.py
  backend/tests/test_database.py
  backend/tests/test_database_fork_safety.py
  backend/tests/test_main.py
  docs/adr/08-background-jobs.md
  scripts/test_fork_safety.sh
Due: mypy

chore(deps): Update frontend dependencies and GitHub Actions
  .github/workflows/ci.yml
  frontend/package-lock.json
Due: none

chore(deps): Update backend dependencies and upgrade to Python 3.14.0 stable
  .pre-commit-config.yaml
  backend/.python-version
  backend/uv.lock
Due: none

Chore/comprehensive dependency update (#156)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  backend/.python-version
  backend/uv.lock
  frontend/package-lock.json
Due: none

feat: Add admin status to user response and implement admin checks in authentication API
  backend/app/api/auth.py
  backend/app/core/admin.py
  backend/tests/test_admin_helpers.py
  backend/tests/test_auth_integration.py
Due: mypy

refactor: Rename admin_headers to auth_headers_for_user in test files for consistency
  backend/tests/conftest.py
  backend/tests/test_admin_alerts.py
  backend/tests/test_admin_dashboard.py
  backend/tests/test_admin_route_index.py
  backend/tests/test_tfl_api.py
Due: none

Feature/phase 10 pr5a backend admin status (#157)
  backend/app/api/auth.py
  backend/app/core/admin.py
  backend/tests/conftest.py
  backend/tests/test_admin_alerts.py
  backend/tests/test_admin_dashboard.py
  backend/tests/test_admin_helpers.py
  backend/tests/test_admin_route_index.py
  backend/tests/test_auth_integration.py
  backend/tests/test_tfl_api.py
Due: mypy

fix: Improve cleanup process in safe test runner to only kill vitest processes
  frontend/safe-test-runner.sh
Due: none

fix: Update action_reject to resolve thread upon rejection
  scripts/gh_pr_comment_action.sh
Due: none

fix: Enhance cleanup in safe test runner to properly terminate test processes
  frontend/safe-test-runner.sh
Due: none

fix: Improve cleanup process in safe test runner to only kill vitest processes (#161)
  frontend/safe-test-runner.sh
  scripts/gh_pr_comment_action.sh
Due: none

feat: Add admin user management utilities and CLI commands
  README.md
  backend/app/cli.py
  backend/app/utils/__init__.py
  backend/app/utils/admin_helpers.py
  backend/tests/conftest.py
  backend/tests/test_cli.py
  backend/tests/utils/__init__.py
  backend/tests/utils/test_admin_helpers.py
  docs/adr/10-testing.md
Due: mypy

feat: Refactor CLI commands to use AsyncSession for database operations
  backend/app/cli.py
  backend/app/utils/admin_helpers.py
  backend/tests/test_cli.py
Due: mypy

feat: Add admin user management utilities and CLI commands (#162)
  README.md
  backend/app/cli.py
  backend/app/utils/__init__.py
  backend/app/utils/admin_helpers.py
  backend/tests/conftest.py
  backend/tests/test_cli.py
  backend/tests/utils/__init__.py
  backend/tests/utils/test_admin_helpers.py
  docs/adr/10-testing.md
Due: mypy

feat: add AdminRoute component for admin access control
  frontend/src/App.tsx
  frontend/src/components/AdminRoute.test.tsx
  frontend/src/components/AdminRoute.tsx
  frontend/src/components/layout/Navigation.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/pagination.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/hooks/useAdminCheck.test.ts
  frontend/src/hooks/useAdminCheck.ts
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/test/test-utils.tsx
Due: eslint, tsc

feat: enhance UI components with forward refs and improve accessibility in admin API functions
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/pagination.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/lib/api.ts
Due: eslint, tsc

feat: add AdminRoute component for admin access control (#163)
  frontend/src/App.tsx
  frontend/src/components/AdminRoute.test.tsx
  frontend/src/components/AdminRoute.tsx
  frontend/src/components/layout/Navigation.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/pagination.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/hooks/useAdminCheck.test.ts
  frontend/src/hooks/useAdminCheck.ts
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/test/test-utils.tsx
Due: eslint, tsc

feat: Add comprehensive user management page for admins (#115)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/admin/AnonymizeUserDialog.test.tsx
  frontend/src/components/admin/AnonymizeUserDialog.tsx
  frontend/src/components/admin/UserDetailDialog.test.tsx
  frontend/src/components/admin/UserDetailDialog.tsx
  frontend/src/components/admin/UserStatusBadge.tsx
  frontend/src/components/admin/UserTable.test.tsx
  frontend/src/components/admin/UserTable.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/hooks/useAdminUsers.test.ts
  frontend/src/hooks/useAdminUsers.ts
  frontend/src/pages/admin/AdminUsers.test.tsx
  frontend/src/pages/admin/AdminUsers.tsx
Due: eslint, tsc

feat: Enhance user management with UUID and phone search capabilities, add tooltips for user status badges
  backend/app/services/admin_service.py
  backend/tests/test_admin_dashboard.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AdminRoute.tsx
  frontend/src/components/admin/UserStatusBadge.tsx
  frontend/src/components/admin/UserTable.test.tsx
  frontend/src/components/admin/UserTable.tsx
  frontend/src/components/ui/tooltip.tsx
Due: mypy, eslint, tsc

feat: Add isInitializing state to useAdminCheck and update AdminRoute tests for loading behavior
  frontend/src/components/AdminRoute.test.tsx
  frontend/src/components/AdminRoute.tsx
  frontend/src/hooks/useAdminCheck.test.ts
  frontend/src/hooks/useAdminCheck.ts
Due: eslint, tsc

feat: Enhance user management functionality with improved search handling and error management
  backend/tests/test_admin_dashboard.py
  frontend/src/components/admin/UserDetailDialog.tsx
  frontend/src/components/admin/UserTable.tsx
  frontend/src/hooks/useAdminUsers.test.ts
  frontend/src/hooks/useAdminUsers.ts
  frontend/src/pages/admin/AdminUsers.test.tsx
  frontend/src/pages/admin/AdminUsers.tsx
Due: eslint, tsc

Feature/issue 115 user management page (#165)
  backend/app/services/admin_service.py
  backend/tests/test_admin_dashboard.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/AdminRoute.test.tsx
  frontend/src/components/AdminRoute.tsx
  frontend/src/components/admin/AnonymizeUserDialog.test.tsx
  frontend/src/components/admin/AnonymizeUserDialog.tsx
  frontend/src/components/admin/UserDetailDialog.test.tsx
  frontend/src/components/admin/UserDetailDialog.tsx
  frontend/src/components/admin/UserStatusBadge.tsx
  frontend/src/components/admin/UserTable.test.tsx
  frontend/src/components/admin/UserTable.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/hooks/useAdminCheck.test.ts
  frontend/src/hooks/useAdminCheck.ts
  frontend/src/hooks/useAdminUsers.test.ts
  frontend/src/hooks/useAdminUsers.ts
  frontend/src/pages/admin/AdminUsers.test.tsx
  frontend/src/pages/admin/AdminUsers.tsx
Due: mypy, eslint, tsc

feat: add NotificationMethodBadge and NotificationStatusBadge components with tests
  .vscode/launch.json
  backend/app/api/admin.py
  backend/app/schemas/admin.py
  backend/tests/test_admin_alerts.py
  frontend/src/App.tsx
  frontend/src/components/admin/NotificationLogsTable.test.tsx
  frontend/src/components/admin/NotificationLogsTable.tsx
  frontend/src/components/admin/NotificationMethodBadge.test.tsx
  frontend/src/components/admin/NotificationMethodBadge.tsx
  frontend/src/components/admin/NotificationStatusBadge.test.tsx
  frontend/src/components/admin/NotificationStatusBadge.tsx
  frontend/src/hooks/useNotificationLogs.test.ts
  frontend/src/hooks/useNotificationLogs.ts
  frontend/src/lib/api.ts
  frontend/src/pages/admin/AdminNotificationLogs.test.tsx
  frontend/src/pages/admin/AdminNotificationLogs.tsx
Due: mypy, eslint, tsc

feat: implement line disruption state logging and related tests
  backend/alembic/versions/8ed2312f54f3_add_line_disruption_state_logs_table.py
  backend/app/celery/app.py
  backend/app/models/__init__.py
  backend/app/models/tfl.py
  backend/app/services/alert_service.py
  backend/tests/test_alert_service.py
  backend/tests/test_celery_schedules.py
  docs/adr/08-background-jobs.md
Due: mypy

feat: implement logging of TfL line disruption state changes with content-based deduplication
  docs/adr/08-background-jobs.md
Due: none

feat: enhance line disruption state logging with deduplication and reason normalization
  backend/app/services/alert_service.py
  backend/tests/test_alert_service.py
Due: mypy

feat: implement line disruption state logging and related tests (#169)
  backend/alembic/versions/8ed2312f54f3_add_line_disruption_state_logs_table.py
  backend/app/celery/app.py
  backend/app/models/__init__.py
  backend/app/models/tfl.py
  backend/app/services/alert_service.py
  backend/tests/test_alert_service.py
  backend/tests/test_celery_schedules.py
  docs/adr/08-background-jobs.md
Due: mypy

fix: prevent email sending hangs with timeout and async SMTP
  backend/app/core/config.py
  backend/app/services/email_service.py
  backend/pyproject.toml
  backend/tests/test_email_service.py
  backend/uv.lock
  docs/adr/07-external-apis.md
Due: mypy

docs: remove implementation details from ADR, focus on decision
  docs/adr/07-external-apis.md
Due: none

fix: enhance email service to handle SMTP timeout and network errors
  backend/app/services/email_service.py
  backend/tests/test_email_service.py
Due: mypy

fix: prevent email sending hangs with timeout and async SMTP (#168) (#171)
  backend/app/core/config.py
  backend/app/services/email_service.py
  backend/pyproject.toml
  backend/tests/test_email_service.py
  backend/uv.lock
  docs/adr/07-external-apis.md
Due: mypy

allow commit
  .claude/settings.json
Due: none

feat: rename routes to user_routes and update related foreign keys
  backend/alembic/versions/1c202b5d7d28_add_timezone_to_routes.py
  backend/alembic/versions/6675f5ef1429_add_route_station_index.py
  backend/alembic/versions/883740308b56_initial_schema_with_all_models.py
  backend/alembic/versions/e5dfdd8388bc_make_route_segment_line_id_nullable.py
  backend/alembic/versions/f8838ec5262d_remove_redundant_station_id_index_from_.py
  backend/app/models/notification.py
  backend/app/models/route.py
  backend/app/models/route_index.py
Due: mypy

refactor(db): rename route_schedules and route_station_index tables
  backend/alembic/versions/6675f5ef1429_add_route_station_index.py
  backend/alembic/versions/883740308b56_initial_schema_with_all_models.py
  backend/app/models/route.py
  backend/app/models/route_index.py
Due: mypy

add refactoring-notes template for subsequent agent steps
  backend/refactoring-notes.md
Due: none

Feature/issue 175 route to userroute (#183)
  .claude/settings.json
  backend/alembic/versions/1c202b5d7d28_add_timezone_to_routes.py
  backend/alembic/versions/6675f5ef1429_add_route_station_index.py
  backend/alembic/versions/883740308b56_initial_schema_with_all_models.py
  backend/alembic/versions/e5dfdd8388bc_make_route_segment_line_id_nullable.py
  backend/alembic/versions/f8838ec5262d_remove_redundant_station_id_index_from_.py
  backend/app/models/notification.py
  backend/app/models/route.py
  backend/app/models/route_index.py
  backend/refactoring-notes.md
Due: mypy

Refactor route-related tests to use UserRoute and UserRouteSegment models
  backend/app/api/routes.py
  backend/app/models/__init__.py
  backend/app/models/notification.py
  backend/app/models/route.py
  backend/app/models/route_index.py
  backend/app/services/admin_service.py
  backend/app/services/alert_service.py
  backend/app/services/notification_preference_service.py
  backend/app/services/route_index_service.py
  backend/app/services/route_service.py
  backend/refactoring-notes.md
  backend/tests/test_admin_alerts.py
  backend/tests/test_admin_dashboard.py
  backend/tests/test_admin_route_index.py
  backend/tests/test_alert_service.py
  backend/tests/test_models.py
  backend/tests/test_notification_preference_service.py
  backend/tests/test_notification_preferences_api.py
  backend/tests/test_route_index_service.py
  backend/tests/test_route_service.py
  backend/tests/test_routes_api.py
Due: mypy

fix: correct over-replacements in Phase 4 refactoring
  backend/app/services/alert_service.py
  backend/app/services/route_index_service.py
Due: mypy

Refactor route-related tests to use UserRoute and UserRouteSegment models (#184)
  backend/app/api/routes.py
  backend/app/models/__init__.py
  backend/app/models/notification.py
  backend/app/models/route.py
  backend/app/models/route_index.py
  backend/app/services/admin_service.py
  backend/app/services/alert_service.py
  backend/app/services/notification_preference_service.py
  backend/app/services/route_index_service.py
  backend/app/services/route_service.py
  backend/refactoring-notes.md
  backend/tests/test_admin_alerts.py
  backend/tests/test_admin_dashboard.py
  backend/tests/test_admin_route_index.py
  backend/tests/test_alert_service.py
  backend/tests/test_models.py
  backend/tests/test_notification_preference_service.py
  backend/tests/test_notification_preferences_api.py
  backend/tests/test_route_index_service.py
  backend/tests/test_route_service.py
  backend/tests/test_routes_api.py
Due: mypy

refactor(services): rename RouteService to UserRouteService (#178)
  backend/app/api/admin.py
  backend/app/api/routes.py
  backend/app/celery/tasks.py
  backend/app/services/user_route_index_service.py
  backend/app/services/user_route_service.py
  backend/refactoring-notes.md
  backend/tests/test_admin_route_index.py
  backend/tests/test_celery_tasks.py
  backend/tests/test_routes_api.py
  backend/tests/test_user_route_index_service.py
  backend/tests/test_user_route_service.py
Due: mypy
