Repository mnbf9rca/IsTheTubeRunning: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

.pre-commit-config.yaml:

# Pre-commit hooks for monorepo
# Install: uv sync && uv run pre-commit install
# Run manually: uv run pre-commit run --all-files

repos:
  # Universal checks and auto-fixes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict

  # Backend: Ruff linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend: Type checking with mypy
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && uv run mypy app'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend: ESLint and TypeScript
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/src/.*\.[jt]sx?$
        pass_filenames: false
      - id: tsc
        name: tsc
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/src/.*\.[jt]sx?$
        pass_filenames: false

feat: add VerificationDialog component for email and phone verification
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/contacts/AddContactDialog.tsx
  frontend/src/components/contacts/ContactCard.tsx
  frontend/src/components/contacts/ContactList.tsx
  frontend/src/components/contacts/VerificationDialog.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/hooks/useContacts.test.ts
  frontend/src/hooks/useContacts.ts
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/pages/Contacts.tsx
Due: eslint, tsc

feat: implement backend authentication context and update callback handling
  frontend/config/config.development.json
  frontend/src/App.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/contexts/BackendAuthContext.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/Callback.test.tsx
  frontend/src/pages/Callback.tsx
Due: eslint, tsc

feat: enhance authentication flow with backend validation and error handling
  frontend/src/components/ProtectedRoute.test.tsx
  frontend/src/contexts/BackendAuthContext.tsx
  frontend/src/hooks/useContacts.test.ts
  frontend/src/hooks/useContacts.ts
  frontend/src/lib/api.test.ts
  frontend/src/pages/Callback.test.tsx
  frontend/src/pages/Callback.tsx
Due: eslint, tsc

feat: add PR2.5 for backend authentication architecture and critical fixes
  phase_10_implementation_plan.md
Due: none

feat: add frontend build step to pre-commit configuration
  .pre-commit-config.yaml
Due: none

feat: enhance backend authentication flow with validation state management and error
  frontend/src/contexts/BackendAuthContext.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useContactDialogs.ts
  frontend/src/pages/Callback.tsx
  frontend/src/pages/Contacts.tsx
Due: eslint, tsc

Feature/phase 10 pr2 contacts (#24)
  .pre-commit-config.yaml
  frontend/config/config.development.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ProtectedRoute.test.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/contacts/AddContactDialog.tsx
  frontend/src/components/contacts/ContactCard.tsx
  frontend/src/components/contacts/ContactList.tsx
  frontend/src/components/contacts/VerificationDialog.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/contexts/BackendAuthContext.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useContactDialogs.ts
  frontend/src/hooks/useContacts.test.ts
  frontend/src/hooks/useContacts.ts
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/pages/Callback.test.tsx
  frontend/src/pages/Callback.tsx
  frontend/src/pages/Contacts.tsx
  phase_10_implementation_plan.md
Due: eslint, tsc

Feature: Implement backend availability check and auth readiness endpoint
  backend/app/api/auth.py
  backend/tests/test_auth_integration.py
  frontend/src/App.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/contexts/BackendAuthContext.tsx
  frontend/src/contexts/BackendAvailabilityContext.tsx
  frontend/src/pages/Callback.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/ServiceUnavailable.tsx
  phase_10_implementation_plan.md
Due: mypy, eslint, tsc

Fix critical authentication flow issue caused by component lifecycle bug in App.tsx
  phase_10_implementation_plan.md
Due: none

Refactor access token management in AppContent to persist getter across component remounts
  frontend/src/App.tsx
Due: eslint, tsc

Fix critical component lifecycle bug in App.tsx affecting authentication flow
  phase_10_implementation_plan.md
Due: none

Fix authentication flow issues: preserve intended route on login, auto-validate on page refresh, and resolve duplicate React key warnings
  PHASE_10_PR2.5_FINAL_SUMMARY.md
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/layout/Navigation.tsx
  frontend/src/contexts/BackendAuthContext.tsx
  frontend/src/pages/Login.tsx
Due: eslint, tsc

Add comprehensive test results for authentication flow fixes: all scenarios passed with zero regressions
  TEST_RESULTS_PR2.5.md
Due: none

Add frontend unit test coverage for authentication components: enhance tests in Login, Header, and Callback with improved mocks and validation states
  TEST_RESULTS_PR2.5.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ProtectedRoute.test.tsx
  frontend/src/components/layout/Header.test.tsx
  frontend/src/pages/Callback.test.tsx
  frontend/src/pages/Login.test.tsx
Due: eslint, tsc

Add testing issues and action plan for authentication flow: document critical test failures and proposed solutions for ProtectedRoute and Callback components
  TESTING_ISSUES.md
Due: none

Refactor ProtectedRoute tests to use MemoryRouter and add error handling tests for Callback component
  frontend/src/components/ProtectedRoute.test.tsx
  frontend/src/pages/Callback.test.tsx
  frontend/src/pages/Callback.tsx
Due: eslint, tsc

tidied documentation
  ARCHITECTURE.md
  IMPLEMENTATION_PLAN.md
  PHASE_10_PR2.5_FINAL_SUMMARY.md
  TESTING_ISSUES.md
  TEST_RESULTS_PR2.5.md
  backend/.env.vault
  phase_10_implementation_plan.md
Due: none

Refactor ARCHITECTURE.md: Expand architectural decisions and add structured sections
  ARCHITECTURE.md
Due: none

Refactor documentation and architecture decision records
  ARCHITECTURE.md
  IMPLEMENTATION_PLAN.md
  docs/adr/01-infrastructure.md
  docs/adr/02-development-tools.md
  docs/adr/03-database.md
  docs/adr/04-authentication.md
  docs/adr/05-security.md
  docs/adr/06-user-management.md
  docs/adr/07-external-apis.md
  docs/adr/08-background-jobs.md
  docs/adr/09-api-design.md
  docs/adr/10-testing.md
  docs/adr/README.md
  phase_10_implementation_plan.md
Due: none

Refactor tests to utilize createMockAuth and createMockBackendAuth for consistency and clarity
  frontend/src/components/ProtectedRoute.test.tsx
  frontend/src/components/layout/Header.test.tsx
  frontend/src/hooks/useCallbackValidation.ts
  frontend/src/pages/Callback.test.tsx
  frontend/src/pages/Callback.tsx
  frontend/src/pages/Login.test.tsx
  frontend/src/test/test-utils.tsx
Due: eslint, tsc

Add note to README.md emphasizing the importance of reading specific ADRs for development setup and tools
  docs/adr/README.md
Due: none

Refactor badge variants and implement useBackendAuth and useBackendAvailability hooks with tests
  frontend/src/components/ui/badge-variants.ts
  frontend/src/components/ui/badge.tsx
  frontend/src/contexts/BackendAuthContext.tsx
  frontend/src/contexts/BackendAvailabilityContext.tsx
  frontend/src/hooks/useBackendAuth.test.ts
  frontend/src/hooks/useBackendAuth.ts
  frontend/src/hooks/useBackendAvailability.test.ts
  frontend/src/hooks/useBackendAvailability.ts
Due: eslint, tsc

Feature/phase 10 pr2.5 fix auth flow (#25)
  ARCHITECTURE.md
  IMPLEMENTATION_PLAN.md
  backend/.env.vault
  backend/app/api/auth.py
  backend/tests/test_auth_integration.py
  docs/adr/01-infrastructure.md
  docs/adr/02-development-tools.md
  docs/adr/03-database.md
  docs/adr/04-authentication.md
  docs/adr/05-security.md
  docs/adr/06-user-management.md
  docs/adr/07-external-apis.md
  docs/adr/08-background-jobs.md
  docs/adr/09-api-design.md
  docs/adr/10-testing.md
  docs/adr/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ProtectedRoute.test.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/layout/Header.test.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/Navigation.tsx
  frontend/src/components/ui/badge-variants.ts
  frontend/src/components/ui/badge.tsx
  frontend/src/contexts/BackendAuthContext.tsx
  frontend/src/contexts/BackendAvailabilityContext.tsx
  frontend/src/hooks/useBackendAuth.test.ts
  frontend/src/hooks/useBackendAuth.ts
  frontend/src/hooks/useBackendAvailability.test.ts
  frontend/src/hooks/useBackendAvailability.ts
  frontend/src/hooks/useCallbackValidation.ts
  frontend/src/pages/Callback.test.tsx
  frontend/src/pages/Callback.tsx
  frontend/src/pages/Login.test.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/ServiceUnavailable.tsx
  frontend/src/test/test-utils.tsx
  phase_10_implementation_plan.md
Due: mypy, eslint, tsc

Update PR5 tasks: defer setting primary contact until needed (YAGNI)
  phase_10_implementation_plan.md
Due: none

feat: add Select, Switch, and Tabs components for UI
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/routes/RouteCard.test.tsx
  frontend/src/components/routes/RouteCard.tsx
  frontend/src/components/routes/RouteFormDialog.tsx
  frontend/src/components/routes/RouteList.test.tsx
  frontend/src/components/routes/RouteList.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/hooks/useBackendAvailability.test.ts
  frontend/src/hooks/useRoutes.test.ts
  frontend/src/hooks/useRoutes.ts
  frontend/src/lib/api.ts
  frontend/src/pages/Dashboard.test.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Routes.test.tsx
  frontend/src/pages/Routes.tsx
  frontend/src/test/setup.ts
Due: eslint, tsc

feat: add safe test runner script with process monitoring
  frontend/safe-test-runner.sh
Due: none

feat: implement split implementation plan for Route Management (PR3a and PR3b)
  phase_10_pr3_implementation_plan.md
Due: none

fix: update Routes href in Navigation and remove timezone display in RouteCard
  frontend/src/components/layout/Navigation.tsx
  frontend/src/components/routes/RouteCard.test.tsx
  frontend/src/components/routes/RouteCard.tsx
Due: eslint, tsc

refactor: remove timezone selection from RouteFormDialog and set default to Europe/London
  frontend/src/components/routes/RouteFormDialog.tsx
Due: eslint, tsc

feat: split PR3 into PR3a and PR3b for improved manageability; hide timezone from UI, defaulting to Europe/London
  phase_10_implementation_plan.md
  phase_10_pr3_implementation_plan.md
Due: none

test: enhance useRoutes tests with unmount handling and act for async calls
  frontend/src/hooks/useRoutes.test.ts
Due: eslint, tsc

refactor: enhance useCallbackValidation and useContacts tests with unmount handling and act for async calls
  frontend/src/hooks/useCallbackValidation.ts
  frontend/src/hooks/useContacts.test.ts
Due: eslint, tsc

feat: add error handling to RouteFormDialog and Routes for create and edit operations
  frontend/src/components/routes/RouteFormDialog.tsx
  frontend/src/pages/Routes.tsx
  phase_10_implementation_plan.md
Due: eslint, tsc

Feature/phase 10 pr3a routes foundation (#26)
  frontend/package-lock.json
  frontend/package.json
  frontend/safe-test-runner.sh
  frontend/src/App.tsx
  frontend/src/components/layout/Navigation.tsx
  frontend/src/components/routes/RouteCard.test.tsx
  frontend/src/components/routes/RouteCard.tsx
  frontend/src/components/routes/RouteFormDialog.tsx
  frontend/src/components/routes/RouteList.test.tsx
  frontend/src/components/routes/RouteList.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/hooks/useBackendAvailability.test.ts
  frontend/src/hooks/useCallbackValidation.ts
  frontend/src/hooks/useContacts.test.ts
  frontend/src/hooks/useRoutes.test.ts
  frontend/src/hooks/useRoutes.ts
  frontend/src/lib/api.ts
  frontend/src/pages/Dashboard.test.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Routes.test.tsx
  frontend/src/pages/Routes.tsx
  frontend/src/test/setup.ts
  phase_10_implementation_plan.md
  phase_10_pr3_implementation_plan.md
Due: eslint, tsc

feat: implement UI components for accordion, command, popover, and scroll area
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/routes/LineSelect.test.tsx
  frontend/src/components/routes/LineSelect.tsx
  frontend/src/components/routes/ScheduleCard.test.tsx
  frontend/src/components/routes/ScheduleCard.tsx
  frontend/src/components/routes/ScheduleForm.test.tsx
  frontend/src/components/routes/ScheduleForm.tsx
  frontend/src/components/routes/ScheduleList.test.tsx
  frontend/src/components/routes/ScheduleList.tsx
  frontend/src/components/routes/SegmentBuilder.test.tsx
  frontend/src/components/routes/SegmentBuilder.tsx
  frontend/src/components/routes/SegmentCard.test.tsx
  frontend/src/components/routes/SegmentCard.tsx
  frontend/src/components/routes/SegmentList.test.tsx
  frontend/src/components/routes/SegmentList.tsx
  frontend/src/components/routes/StationCombobox.test.tsx
  frontend/src/components/routes/StationCombobox.tsx
  frontend/src/components/ui/accordion.tsx
  frontend/src/components/ui/command.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/ui/scroll-area.tsx
  frontend/src/hooks/useTflData.test.ts
  frontend/src/hooks/useTflData.ts
  frontend/src/lib/api.ts
  frontend/src/pages/RouteDetails.tsx
  frontend/src/pages/Routes.tsx
  phase_10_implementation_plan.md
  phase_10_pr3_implementation_plan.md
Due: eslint, tsc

refactor: update test assertions and improve test utilities for better clarity and functionality
  frontend/src/components/routes/ScheduleForm.test.tsx
  frontend/src/components/routes/SegmentBuilder.test.tsx
  frontend/src/components/routes/SegmentCard.test.tsx
  frontend/src/pages/Routes.test.tsx
  frontend/src/test/setup.ts
  frontend/src/test/test-utils.tsx
Due: eslint, tsc

test: wrap refresh call in act for proper state updates
  frontend/src/hooks/useTflData.test.ts
Due: eslint, tsc

Enhance TfL service: improve station graph building with validation and error handling
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
Due: mypy

Feature: Prevent duplicate connections in station graph processing by tracking pending connections
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
Due: mypy
