Repository mnbf9rca/IsTheTubeRunning: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy app'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

fix: prevent "Good Service" alerts when TfL API times out (#307)
  backend/app/services/alert_service.py
  backend/tests/test_alert_service.py
Due: mypy

refactor: use SQLAlchemyError for narrower exception handling
  backend/app/services/alert_service.py
  backend/tests/test_alert_service.py
Due: mypy

fix: prevent "Good Service" alerts when TfL API times out (#310)
  backend/app/services/alert_service.py
  backend/tests/test_alert_service.py
Due: mypy

feat: add per-line alert cooldown to prevent TfL API flickering spam (#309)
  backend/.env.example
  backend/app/core/config.py
  backend/app/services/alert_service.py
  backend/tests/test_alert_service.py
  docs/adr/08-background-jobs.md
Due: mypy

add ALERT_COOLDOWN_MINUTES to .env
  backend/.env.vault
Due: none

test: add unit tests for _check_line_alert_needed() (#309)
  backend/tests/test_alert_service.py
Due: none

refactor: simplify TestPerLineCooldown integration tests (#309)
  backend/tests/test_alert_service.py
Due: none

fix: update tests for _should_send_alert tuple return type
  backend/tests/services/test_alert_otel.py
  backend/tests/test_alert_service.py
Due: none

fix: add defensive validation for stored line state (#309)
  backend/app/services/alert_service.py
  backend/tests/test_alert_service.py
Due: mypy

feat: add per-line alert cooldown to prevent TfL API flickering spam (#309) (#313)
  backend/.env.example
  backend/.env.vault
  backend/app/core/config.py
  backend/app/services/alert_service.py
  backend/tests/services/test_alert_otel.py
  backend/tests/test_alert_service.py
  docs/adr/08-background-jobs.md
Due: mypy

feat: mask PII in logs and OpenTelemetry spans (#311)
  backend/alembic/versions/1f4d6532d88a_add_contact_hash_columns.py
  backend/app/core/telemetry.py
  backend/app/models/user.py
  backend/app/services/alert_service.py
  backend/app/services/email_service.py
  backend/app/services/notification_service.py
  backend/app/services/sms_service.py
  backend/app/services/verification_service.py
  backend/app/utils/__init__.py
  backend/app/utils/pii.py
  backend/tests/services/test_email_otel.py
  backend/tests/utils/test_pii.py
  docs/adr/12-observability.md
Due: mypy

refactor: use full SHA256 hash instead of truncated 12-char version
  backend/alembic/versions/1f4d6532d88a_add_contact_hash_columns.py
  backend/app/models/user.py
  backend/app/utils/pii.py
  backend/tests/services/test_notification_otel.py
  backend/tests/services/test_sms_otel.py
  backend/tests/utils/test_pii.py
  docs/adr/12-observability.md
Due: mypy

feat: enhance PII hashing security and performance (#314)
  backend/.env.example
  backend/.env.vault
  backend/alembic/versions/1f4d6532d88a_add_contact_hash_columns.py
  backend/app/core/config.py
  backend/app/services/email_service.py
  backend/app/services/notification_service.py
  backend/app/services/sms_service.py
  backend/app/utils/pii.py
  backend/tests/models/__init__.py
  backend/tests/models/test_user.py
  backend/tests/services/test_email_otel.py
  backend/tests/utils/test_pii.py
  docs/adr/12-observability.md
Due: mypy

fix: prevent PII leak in SMS log file
  backend/app/services/sms_service.py
  backend/tests/test_sms_service.py
Due: mypy

fix: address GitHub Copilot review comments (#314)
  backend/.env.example
  backend/alembic/versions/1f4d6532d88a_add_contact_hash_columns.py
  backend/app/models/user.py
  backend/app/utils/pii.py
  backend/tests/utils/test_pii.py
Due: mypy

fix: optimize hash computation and add config validation (#314)
  backend/app/core/config.py
  backend/app/services/sms_service.py
Due: mypy

feat: mask PII in logs and OpenTelemetry spans (#311) (#314)
  backend/.env.example
  backend/.env.vault
  backend/alembic/versions/1f4d6532d88a_add_contact_hash_columns.py
  backend/app/core/config.py
  backend/app/core/telemetry.py
  backend/app/models/user.py
  backend/app/services/alert_service.py
  backend/app/services/email_service.py
  backend/app/services/notification_service.py
  backend/app/services/sms_service.py
  backend/app/services/verification_service.py
  backend/app/utils/__init__.py
  backend/app/utils/pii.py
  backend/tests/models/__init__.py
  backend/tests/models/test_user.py
  backend/tests/services/test_email_otel.py
  backend/tests/services/test_notification_otel.py
  backend/tests/services/test_sms_otel.py
  backend/tests/test_sms_service.py
  backend/tests/utils/test_pii.py
  docs/adr/12-observability.md
Due: mypy

feat: migrate from python-dotenv-vault to dotenvx for secret management (#312)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .vscode/launch.json
  backend/.env
  backend/.env.ci
  backend/.env.production
  backend/.env.vault
  backend/.env.x
  backend/.gitignore
  backend/Dockerfile
  backend/app/core/config.py
  backend/app/utils/extract_db_credentials.py
  backend/pyproject.toml
  backend/tests/utils/test_extract_db_credentials.py
  backend/uv.lock
  deploy/setup/11-configure-dotenv-key.sh
  docker/scripts/backup-db.sh
  docs/adr/05-security.md
Due: mypy

feat: fix gitignore rules and complete .env.ci restructure for dotenvx (#312)
  .gitignore
  backend/.dockerignore
  backend/.env
  backend/.env.ci
  frontend/.gitignore
Due: none

feat: implement selective encryption with dotenvx SECRET_* pattern (#312)
  .pre-commit-config.yaml
  backend/.env
  backend/.env.ci
  backend/.env.example
  backend/.env.production
  backend/app/core/config.py
  backend/app/utils/extract_db_credentials.py
  backend/tests/utils/test_extract_db_credentials.py
  deploy/deploy-keys.sh
  deploy/docker-compose.prod.yml
  deploy/provision-azure-vm.sh
  deploy/scripts/deploy.sh
  deploy/setup-vm.sh
  deploy/setup/08-create-systemd-service.sh
  deploy/setup/11-configure-dotenv-key.sh
  docs/adr/05-security.md
Due: mypy

fix: wrap pytest with dotenvx to decrypt .env.ci secrets in CI
  .github/workflows/ci.yml
Due: none

fix: wrap migrations and celery commands with dotenvx in docker-compose
  deploy/docker-compose.prod.yml
  deploy/docker-compose.yml
Due: none

fix: address PR 317 review comments - encrypt tunnel token and fix YAML
  backend/.env.production
  backend/app/utils/extract_db_credentials.py
  deploy/docker-compose.yml
Due: mypy

docs: migrate DOTENV_KEY to DOTENV_PRIVATE_KEY_* and add ops sync
  .claude/settings.json
  .pre-commit-config.yaml
  README.md
  docs/adr/01-infrastructure.md
  scripts/test-docker-builds.sh
Due: none

fix: address PR 317 review comments
  backend/tests/utils/test_extract_db_credentials.py
  deploy/setup-vm.sh
  docs/adr/05-security.md
Due: none

fix: add explicit env file flags to dotenvx commands
  backend/Dockerfile
  deploy/docker-compose.prod.yml
  deploy/setup/11-configure-dotenv-key.sh
  docker/scripts/backup-db.sh
  scripts/test-docker-builds.sh
Due: none

feat: implement selective encryption with dotenvx SECRET_* pattern (#312) (#317)
  .claude/settings.json
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  .vscode/launch.json
  README.md
  backend/.dockerignore
  backend/.env
  backend/.env.ci
  backend/.env.example
  backend/.env.production
  backend/.env.vault
  backend/.env.x
  backend/.gitignore
  backend/Dockerfile
  backend/app/core/config.py
  backend/app/utils/extract_db_credentials.py
  backend/pyproject.toml
  backend/tests/utils/test_extract_db_credentials.py
  backend/uv.lock
  deploy/deploy-keys.sh
  deploy/docker-compose.prod.yml
  deploy/docker-compose.yml
  deploy/provision-azure-vm.sh
  deploy/scripts/deploy.sh
  deploy/setup-vm.sh
  deploy/setup/08-create-systemd-service.sh
  deploy/setup/11-configure-dotenv-key.sh
  docker/scripts/backup-db.sh
  docs/adr/01-infrastructure.md
  docs/adr/05-security.md
  frontend/.gitignore
  scripts/test-docker-builds.sh
Due: mypy

feat: add OpenAPI generation script and spec
  backend/openapi.json
  backend/scripts/generate_openapi.py
Due: none

feat: add frontend type generation infrastructure
  frontend/package-lock.json
  frontend/package.json
  frontend/src/types/api-generated.ts
  frontend/src/types/index.ts
Due: eslint, tsc

refactor: migrate api.ts to use auto-generated types
  frontend/src/components/admin/UserDetailDialog.tsx
  frontend/src/components/admin/UserTable.tsx
  frontend/src/components/routes/SegmentBuilder/SegmentBuilder.tsx
  frontend/src/hooks/useTflData.ts
  frontend/src/lib/api.ts
  frontend/src/pages/CreateRoute.tsx
Due: eslint, tsc

ci: add API type sync verification with prettier formatting
  .github/workflows/ci.yml
  frontend/package.json
Due: none

docs: add ADR for API type synchronization
  docs/adr/10-testing.md
  docs/adr/14-api-type-synchronization.md
Due: none

docs: add API type synchronization workflow guide
  docs/api-type-sync.md
Due: none

fix: remove duplicate type definitions
  frontend/src/lib/api.ts
  frontend/src/types/index.ts
Due: eslint, tsc

refactor: use spread operator in segment mapping for forward compatibility
  frontend/src/components/routes/SegmentBuilder/SegmentBuilder.tsx
  frontend/src/components/routes/SegmentBuilder/hooks/useSegmentBuilderState.ts
  frontend/src/pages/CreateRoute.tsx
  frontend/src/pages/RouteDetails.tsx
Due: eslint, tsc

feat: automated API type synchronization between backend and frontend (#160) (#320)
  .github/workflows/ci.yml
  backend/openapi.json
  backend/scripts/generate_openapi.py
  docs/adr/10-testing.md
  docs/adr/14-api-type-synchronization.md
  docs/api-type-sync.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/admin/UserDetailDialog.tsx
  frontend/src/components/admin/UserTable.tsx
  frontend/src/components/routes/SegmentBuilder/SegmentBuilder.tsx
  frontend/src/components/routes/SegmentBuilder/hooks/useSegmentBuilderState.ts
  frontend/src/hooks/useTflData.ts
  frontend/src/lib/api.ts
  frontend/src/pages/CreateRoute.tsx
  frontend/src/pages/RouteDetails.tsx
  frontend/src/types/api-generated.ts
  frontend/src/types/index.ts
Due: eslint, tsc

refactor: use explicit field mapping for Response→Request conversion
  frontend/src/components/routes/SegmentBuilder/hooks/useSegmentBuilderState.ts
  frontend/src/lib/segment-utils.ts
  frontend/src/pages/RouteDetails.tsx
Due: eslint, tsc

refactor: use explicit field mapping for Response→Request conversion (#323)
  frontend/src/components/routes/SegmentBuilder/hooks/useSegmentBuilderState.ts
  frontend/src/lib/segment-utils.ts
  frontend/src/pages/RouteDetails.tsx
Due: eslint, tsc

fix: update VSCode debugpy launch config for dotenvx compatibility (#322)
  .vscode/launch.json
  .vscode/tasks.json
  backend/.gitignore
Due: none

fix: address PR review comments - race-safe decrypt and remove auto-cleanup
  .vscode/launch.json
  .vscode/tasks.json
Due: none

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/src/.*\.[jt]sx?$
  tsc: any of: ^frontend/src/.*\.[jt]sx?$
