Repository mnbf9rca/IsTheTubeRunning: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

.pre-commit-config.yaml:

# Pre-commit hooks for monorepo
# Install: uv sync && uv run pre-commit install
# Run manually: uv run pre-commit run --all-files

repos:
  # Universal checks and auto-fixes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict

  # Backend: Ruff linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend: Type checking with mypy
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && uv run mypy app'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend: ESLint and TypeScript
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/src/.*\.[jt]sx?$
        pass_filenames: false
      - id: tsc
        name: tsc
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/src/.*\.[jt]sx?$
        pass_filenames: false

Fix: simplify postgres health check to use pg_isready without flags
  deploy/docker-compose.prod.yml
Due: none

Fix: use runtime DNS resolution in nginx to allow startup without backend
  docker/nginx/nginx.conf
Due: none

Fix: use IPv4 address in nginx health check to avoid IPv6 connection refused
  deploy/docker-compose.prod.yml
Due: none

Fix: update README reference to point to existing frontend/README.md
  README.md
Due: none

Fix: enhance environment detection logic and improve error handling in configuration scripts
  deploy/setup/11-configure-dotenv-key.sh
  frontend/README.md
  frontend/src/lib/api.test.ts
  frontend/src/lib/configLoader.test.ts
  frontend/src/lib/configLoader.ts
Due: eslint, tsc

Fix: resolve deployment configuration issues (frontend runtime config, service dependencies, systemd, PostgreSQL) (#268)
  README.md
  backend/.dockerignore
  backend/.env.vault
  backend/Dockerfile
  backend/pyproject.toml
  backend/uv.lock
  deploy/docker-compose.prod.yml
  deploy/setup-vm.sh
  deploy/setup/07-create-deploy-user.sh
  deploy/setup/08-create-systemd-service.sh
  deploy/setup/11-configure-dotenv-key.sh
  docker/nginx/nginx.conf
  docs/adr/01-infrastructure.md
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/config.json
  frontend/src/components/ConfigLoader.test.tsx
  frontend/src/components/ConfigLoader.tsx
  frontend/src/contexts/BackendAvailabilityContext.tsx
  frontend/src/contexts/ConfigContext.test.tsx
  frontend/src/contexts/ConfigContext.tsx
  frontend/src/hooks/useBackendAvailability.test.ts
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/lib/config.test.ts
  frontend/src/lib/config.ts
  frontend/src/lib/configLoader.test.ts
  frontend/src/lib/configLoader.ts
  frontend/src/main.tsx
Due: eslint, tsc

fix: resolve duplicate disruption alerts for same line (#267)
  backend/app/services/alert_service.py
  backend/tests/test_alert_service.py
Due: mypy

fix: add git commit amend command to deny list in settings
  .claude/settings.json
Due: none

fix: include numeric severity in disruption hash for complete state tracking
  backend/app/services/alert_service.py
  backend/tests/test_alert_service.py
Due: mypy

fix: resolve duplicate disruption alerts for same line (#267) (#269)
  .claude/settings.json
  backend/app/services/alert_service.py
  backend/tests/test_alert_service.py
Due: mypy

feat: implement automated CI/CD with GitHub Actions and GHCR (#244)
  .github/workflows/deploy.yml
  deploy/docker-compose.prod.yml
  deploy/scripts/deploy.sh
  deploy/scripts/rollback.sh
  docs/adr/01-infrastructure.md
  docs/deployment/CI-CD.md
Due: none

fix: address PR #270 review comments on CI/CD implementation
  .github/workflows/deploy.yml
  deploy/docker-compose.prod.yml
  docs/adr/01-infrastructure.md
  docs/deployment/CI-CD.md
Due: none

fix: use GitHub Variables instead of Secrets for Azure IDs
  .github/workflows/deploy.yml
  docs/adr/01-infrastructure.md
  docs/deployment/CI-CD.md
Due: none

feat: add job-level timeouts to prevent hanging builds
  .github/workflows/deploy.yml
Due: none

feat: add Docker layer caching to speed up builds
  .github/workflows/deploy.yml
Due: none

fix: remove invalid script_stop parameter and ensure NSG rule waits
  .github/workflows/deploy.yml
Due: none

feat: add actionlint and fix Docker cache with buildx
  .github/workflows/deploy.yml
  .pre-commit-config.yaml
Due: none

fix: use script_path for deployment and fix health check
  .github/workflows/deploy.yml
  deploy/scripts/deploy.sh
Due: none

fix: address PR #270 review comments (18 accepted)
  .github/workflows/deploy.yml
  deploy/scripts/deploy.sh
  deploy/scripts/rollback.sh
  docs/deployment/CI-CD.md
Due: none

fix: show SSH errors for troubleshooting
  .github/workflows/deploy.yml
Due: none

fix: use temp file for SSH key instead of process substitution
  .github/workflows/deploy.yml
Due: none

fix: address PR #270 additional review comments (6 accepted)
  .github/workflows/deploy.yml
  .pre-commit-config.yaml
  deploy/docker-compose.prod.yml
  deploy/scripts/deploy.sh
  deploy/scripts/rollback.sh
Due: none

feat: implement automated CI/CD with GitHub Actions and GHCR (#244) (#270)
  .github/workflows/deploy.yml
  .pre-commit-config.yaml
  deploy/docker-compose.prod.yml
  deploy/scripts/deploy.sh
  deploy/scripts/rollback.sh
  docs/adr/01-infrastructure.md
  docs/deployment/CI-CD.md
Due: none

fix: eliminate duplicate line_disruption_state_log entries via per-line aggregate state tracking
  backend/app/celery/database.py
  backend/app/main.py
  backend/app/services/alert_service.py
  backend/tests/conftest.py
  backend/tests/test_alert_service.py
Due: mypy

fix: use aclose() instead of deprecated close() for Redis client
  backend/app/main.py
  backend/tests/test_main.py
Due: mypy

fix: add defensive validation and documentation to line state hash function
  backend/app/services/alert_service.py
  backend/tests/test_alert_service.py
Due: mypy

fix: eliminate duplicate line_disruption_state_log entries via per-line aggregate state tracking (#274)
  backend/app/celery/database.py
  backend/app/main.py
  backend/app/services/alert_service.py
  backend/tests/conftest.py
  backend/tests/test_alert_service.py
  backend/tests/test_main.py
Due: mypy

fix: replace delete-all with upsert in fetch_lines to prevent FK violations (#272)
  backend/alembic/versions/cf589f9baac2_add_line_change_logs_table.py
  backend/app/core/telemetry.py
  backend/app/models/tfl.py
  backend/app/services/tfl_service.py
  backend/tests/test_telemetry.py
  backend/tests/test_tfl_service.py
Due: mypy

fix: correct route_variants storage to preserve full route metadata
  backend/app/services/tfl_service.py
  backend/tests/services/test_tfl_otel.py
  backend/tests/test_tfl_service.py
Due: mypy

chore: add no-commit-to-branch hook to prevent commits to main
  .pre-commit-config.yaml
Due: none

perf: optimize fetch_lines to reduce N+1 queries with batch fetching
  backend/app/services/tfl_service.py
  backend/tests/services/test_tfl_otel.py
Due: mypy

fix: address PR #277 review comments
  backend/app/models/tfl.py
  backend/app/services/tfl_service.py
  backend/tests/fixtures/otel.py
  backend/tests/test_telemetry.py
  backend/tests/test_tfl_service.py
Due: mypy

fix: replace delete-all with upsert in fetch_lines to prevent FK violations (#272) (#277)
  .pre-commit-config.yaml
  backend/alembic/versions/cf589f9baac2_add_line_change_logs_table.py
  backend/app/core/telemetry.py
  backend/app/models/tfl.py
  backend/app/services/tfl_service.py
  backend/tests/fixtures/otel.py
  backend/tests/services/test_tfl_otel.py
  backend/tests/test_telemetry.py
  backend/tests/test_tfl_service.py
Due: mypy

refactor: simplify gh_pr_comment_action.sh and add full ID support
  scripts/gh_pr_comment_action.sh
Due: none

fix: add JSON escaping and stricter ID validation
  scripts/gh_pr_comment_action.sh
Due: none

fix: add permission for fetching PR comments and restrict access to settings.json
  .claude/settings.json
Due: none

feat: add gh_pr_comments_fetch.sh script for fetching PR comments with full context
  scripts/gh_pr_comments_fetch.sh
Due: none

fix: update deny permission to specify settings file path
  .claude/settings.json
Due: none

fix: address review feedback on gh_pr_comments_fetch.sh
  scripts/gh_pr_comment_action.sh
  scripts/gh_pr_comments_fetch.sh
Due: none

refactor: simplify gh_pr_comment_action.sh and add full ID support (#279)
  .claude/settings.json
  scripts/gh_pr_comment_action.sh
  scripts/gh_pr_comments_fetch.sh
Due: none
