Repository mnbf9rca/IsTheTubeRunning: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, tsc, frontend-build

.pre-commit-config.yaml:

# Pre-commit hooks for monorepo
# Install: uv sync && uv run pre-commit install
# Run manually: uv run pre-commit run --all-files

repos:
  # Universal checks and auto-fixes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: forbid-new-submodules
      - id: no-commit-to-branch
        args: ['--branch', 'main']

  # Prevent .env files in root directory
  - repo: local
    hooks:
      - id: no-root-env-files
        name: Block .env files in root directory
        entry: bash -c 'if ls .env* 2>/dev/null | grep -v ".env.example" > /dev/null; then echo "ERROR - .env files should be in backend/ directory not root"; exit 1; fi'
        language: system
        pass_filenames: false
        always_run: true

  # Backend: Ruff linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend: Type checking with mypy
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && uv run mypy app'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false
      - id: encrypt-dotenv
        name: Re-encrypt .env files with dotenvx
        entry: bash -c 'cd backend && dotenvx encrypt'
        language: system
        always_run: true
        pass_filenames: false
      - id: dotenvx-precommit
        name: Verify .env files are protected (encrypted or gitignored)
        entry: bash -c 'cd backend && dotenvx ext precommit'
        language: system
        always_run: true
        pass_filenames: false

  # Frontend: Prettier, ESLint, and TypeScript
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/src/.*\.(js|ts|tsx|css)$
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint:fix'
        language: system
        files: ^frontend/src/.*\.[jt]sx?$
        pass_filenames: false
      - id: tsc
        name: tsc
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/src/.*\.[jt]sx?$
        pass_filenames: false
      - id: frontend-build
        name: frontend build
        entry: bash -c 'cd frontend && npm run build'
        language: system
        files: ^frontend/
        pass_filenames: false

  # Shell scripts: Shellcheck
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        name: shellcheck
        files: \.sh$
        args: ['--exclude=SC1091']  # Ignore "not following sourced files" info messages

  # GitHub Actions: actionlint
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

fix: update permission setting for venv binaries to avoid symlink errors (#339)
  backend/Dockerfile
Due: none

fix: repair broken Python symlinks in multi-stage Docker build
  backend/Dockerfile
Due: none

fix: repair broken Python symlinks in multi-stage Docker build (#341)
  backend/Dockerfile
Due: none

feat: add build commit tracking and fix Docker symlinks (#343, #345)
  .github/workflows/deploy.yml
  backend/Dockerfile
  backend/app/celery/app.py
  backend/app/celery/database.py
  backend/app/core/config.py
  backend/app/main.py
  backend/tests/test_beat_otel.py
  frontend/Dockerfile
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
Due: mypy, prettier, eslint, tsc, frontend-build

fix: address PR #346 review comments
  backend/app/celery/app.py
  frontend/src/components/layout/AppLayout.tsx
Due: mypy, prettier, eslint, tsc, frontend-build

feat: add build commit tracking and fix Docker symlinks (#346)
  .github/workflows/deploy.yml
  backend/Dockerfile
  backend/app/celery/app.py
  backend/app/celery/database.py
  backend/app/core/config.py
  backend/app/main.py
  backend/tests/test_beat_otel.py
  frontend/Dockerfile
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
Due: mypy, prettier, eslint, tsc, frontend-build

chore: remove outdated Phase 10 implementation plan document
  PROGRESS_PR235.md
  phase_10_implementation_plan.md
Due: none

docs: reorganize guidelines and add Azure VM IP script
  .claude/agents/release-pr-creator.md
  .github/workflows/deploy.yml
  AGENTS.md
  CLAUDE.md
  scripts/get-prod-vm-ip.sh
Due: none

fix: remove redundant environment variable documentation from help message
  scripts/get-prod-vm-ip.sh
Due: none

docs: reorganize guidelines and add Azure VM IP script (#348)
  .claude/agents/release-pr-creator.md
  .github/workflows/deploy.yml
  AGENTS.md
  CLAUDE.md
  PROGRESS_PR235.md
  phase_10_implementation_plan.md
  scripts/get-prod-vm-ip.sh
Due: none

docs: add references to ADRs and fork-safety.md in AGENTS.md
  AGENTS.md
Due: none

docs: suggest using InMemorySpanExporter in OTEL collector instructions
  AGENTS.md
Due: none

docs: add references to ADRs and fork-safety.md in AGENTS.md (#349)
  AGENTS.md
Due: none

fix: ensure frontend volume updates on deployment (#350)
  deploy/docker-compose.prod.yml
  frontend/Dockerfile
Due: frontend-build

fix: improve file cleanup and error handling in frontend deployment
  deploy/docker-compose.prod.yml
  frontend/Dockerfile
Due: frontend-build

fix: ensure frontend volume updates on deployment (#351)
  deploy/docker-compose.prod.yml
  frontend/Dockerfile
Due: frontend-build

fix: update release-pr-creator guidelines to ensure latest remote state is used for PR creation
  .claude/agents/release-pr-creator.md
Due: none

fix: update release-pr-creator guidelines to ensure latest remote state is used for PR creation (#353)
  .claude/agents/release-pr-creator.md
Due: none

feat: display route-specific disruptions on /routes page (#228)
  frontend/src/components/routes/RouteCard.test.tsx
  frontend/src/components/routes/RouteCard.tsx
  frontend/src/components/routes/RouteDisruptionStatus.test.tsx
  frontend/src/components/routes/RouteDisruptionStatus.tsx
  frontend/src/components/routes/RouteList.test.tsx
  frontend/src/components/routes/RouteList.tsx
  frontend/src/lib/disruption-utils.test.ts
  frontend/src/lib/disruption-utils.ts
  frontend/src/pages/Routes.test.tsx
  frontend/src/pages/Routes.tsx
Due: prettier, eslint, tsc, frontend-build

fix: address PR review comments (3/4)
  AGENTS.md
  frontend/src/components/routes/RouteDisruptionStatus.tsx
  frontend/src/components/routes/RouteList.tsx
  frontend/src/lib/disruption-utils.ts
Due: prettier, eslint, tsc, frontend-build

feat: display route-specific disruptions on /routes page (#228) (#355)
  AGENTS.md
  frontend/src/components/routes/RouteCard.test.tsx
  frontend/src/components/routes/RouteCard.tsx
  frontend/src/components/routes/RouteDisruptionStatus.test.tsx
  frontend/src/components/routes/RouteDisruptionStatus.tsx
  frontend/src/components/routes/RouteList.test.tsx
  frontend/src/components/routes/RouteList.tsx
  frontend/src/lib/disruption-utils.test.ts
  frontend/src/lib/disruption-utils.ts
  frontend/src/pages/Routes.test.tsx
  frontend/src/pages/Routes.tsx
Due: prettier, eslint, tsc, frontend-build

feat: simplify route alert scheduling with grid UI (#356)
  AGENTS.md
  frontend/src/components/routes/ScheduleGrid/ScheduleGrid.test.tsx
  frontend/src/components/routes/ScheduleGrid/ScheduleGrid.tsx
  frontend/src/components/routes/ScheduleGrid/hooks/useScheduleGridState.test.ts
  frontend/src/components/routes/ScheduleGrid/hooks/useScheduleGridState.ts
  frontend/src/components/routes/ScheduleGrid/index.ts
  frontend/src/components/routes/ScheduleGrid/selection.test.ts
  frontend/src/components/routes/ScheduleGrid/selection.ts
  frontend/src/components/routes/ScheduleGrid/transforms.test.ts
  frontend/src/components/routes/ScheduleGrid/transforms.ts
  frontend/src/components/routes/ScheduleGrid/types.test.ts
  frontend/src/components/routes/ScheduleGrid/types.ts
  frontend/src/components/routes/ScheduleGrid/validation.test.ts
  frontend/src/components/routes/ScheduleGrid/validation.ts
  frontend/src/pages/CreateRoute.tsx
  frontend/src/pages/RouteDetails.tsx
Due: prettier, eslint, tsc, frontend-build

feat: transpose ScheduleGrid to horizontal layout with compact cells
  frontend/src/components/routes/ScheduleGrid/ScheduleGrid.tsx
Due: prettier, eslint, tsc, frontend-build

feat: enable drag-to-deselect and fix time header alignment in ScheduleGrid
  frontend/safe-test-runner.sh
  frontend/src/components/routes/ScheduleGrid/ScheduleGrid.test.tsx
  frontend/src/components/routes/ScheduleGrid/ScheduleGrid.tsx
  frontend/src/components/routes/ScheduleGrid/hooks/useScheduleGridState.ts
Due: prettier, eslint, tsc, frontend-build

fix: use DAYS/SLOTS_PER_DAY constants and add empty selection validation (#358)
  frontend/src/components/routes/ScheduleGrid/validation.ts
  frontend/src/pages/CreateRoute.tsx
  frontend/src/pages/RouteDetails.tsx
Due: prettier, eslint, tsc, frontend-build

feat: implement grid-based schedule UI (#356) (#358)
  AGENTS.md
  frontend/safe-test-runner.sh
  frontend/src/components/routes/ScheduleGrid/ScheduleGrid.test.tsx
  frontend/src/components/routes/ScheduleGrid/ScheduleGrid.tsx
  frontend/src/components/routes/ScheduleGrid/hooks/useScheduleGridState.test.ts
  frontend/src/components/routes/ScheduleGrid/hooks/useScheduleGridState.ts
  frontend/src/components/routes/ScheduleGrid/index.ts
  frontend/src/components/routes/ScheduleGrid/selection.test.ts
  frontend/src/components/routes/ScheduleGrid/selection.ts
  frontend/src/components/routes/ScheduleGrid/transforms.test.ts
  frontend/src/components/routes/ScheduleGrid/transforms.ts
  frontend/src/components/routes/ScheduleGrid/types.test.ts
  frontend/src/components/routes/ScheduleGrid/types.ts
  frontend/src/components/routes/ScheduleGrid/validation.test.ts
  frontend/src/components/routes/ScheduleGrid/validation.ts
  frontend/src/pages/CreateRoute.tsx
  frontend/src/pages/RouteDetails.tsx
Due: prettier, eslint, tsc, frontend-build

feat: add atomic PUT endpoint for route schedules with quarter-hour validation
  AGENTS.md
  backend/app/api/routes.py
  backend/app/schemas/routes.py
  backend/app/services/user_route_service.py
  backend/tests/test_routes_api.py
  frontend/src/lib/api.ts
  frontend/src/pages/CreateRoute.tsx
  frontend/src/pages/RouteDetails.tsx
Due: mypy, prettier, eslint, tsc, frontend-build

fix: clarify guideline on suppressing linting errors or warnings
  AGENTS.md
Due: none

fix: suppress react-refresh ESLint warnings for necessary non-component exports
  frontend/src/components/ui/button.tsx
  frontend/src/contexts/ConfigContext.tsx
  frontend/src/contexts/PollingContext.tsx
  frontend/src/main.tsx
Due: prettier, eslint, tsc, frontend-build

refactor: address PR review comments
  backend/app/api/routes.py
  backend/app/schemas/routes.py
  backend/app/services/user_route_service.py
  backend/tests/test_routes_api.py
  frontend/src/lib/api.ts
Due: mypy, prettier, eslint, tsc, frontend-build

fix: filter soft-deleted schedules in alert processing
  backend/app/helpers/soft_delete_filters.py
  backend/app/services/alert_service.py
  backend/tests/services/test_alert_otel.py
  backend/tests/test_alert_service.py
  backend/tests/test_soft_delete_helpers.py
Due: mypy

refactor: address Sourcery AI PR review comments
  backend/app/schemas/routes.py
  backend/tests/test_routes_api.py
Due: mypy

fix: filter soft-deleted segments and schedules in route queries
  backend/app/services/user_route_service.py
Due: mypy

test: add tests for soft delete filtering in route queries
  backend/tests/test_routes_api.py
Due: none

feat: add atomic PUT endpoint for route schedules with quarter-hour validation (#360)
  AGENTS.md
  backend/app/api/routes.py
  backend/app/helpers/soft_delete_filters.py
  backend/app/schemas/routes.py
  backend/app/services/alert_service.py
  backend/app/services/user_route_service.py
  backend/tests/services/test_alert_otel.py
  backend/tests/test_alert_service.py
  backend/tests/test_routes_api.py
  backend/tests/test_soft_delete_helpers.py
  frontend/src/components/ui/button.tsx
  frontend/src/contexts/ConfigContext.tsx
  frontend/src/contexts/PollingContext.tsx
  frontend/src/lib/api.ts
  frontend/src/main.tsx
  frontend/src/pages/CreateRoute.tsx
  frontend/src/pages/RouteDetails.tsx
Due: mypy, prettier, eslint, tsc, frontend-build

feat: add PR review bodies to gh_pr_comments_fetch.sh (#315)
  scripts/gh_pr_comments_fetch.sh
Due: none

fix: handle deleted users and truncation in gh_pr_comments_fetch.sh
  scripts/gh_pr_comments_fetch.sh
Due: none

feat: add PR review bodies to gh_pr_comments_fetch.sh (#363)
  scripts/gh_pr_comments_fetch.sh
Due: none

feat: add infrastructure for cleared disruption notifications (#361)
  backend/alembic/versions/1025d77921da_add_is_cleared_state_to_alert_disabled_.py
  backend/app/models/tfl.py
  backend/app/schemas/tfl.py
  backend/app/services/alert_service.py
  backend/tests/test_alert_service.py
Due: mypy

feat: integrate cleared line detection into alert processing (#361)
  backend/app/services/alert_service.py
  backend/tests/test_alert_service.py
Due: mypy
