Repository mnbf9rca/IsTheTubeRunning: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

.pre-commit-config.yaml:

# Pre-commit hooks for monorepo
# Install: uv sync && uv run pre-commit install
# Run manually: uv run pre-commit run --all-files

repos:
  # Universal checks and auto-fixes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict

  # Backend: Ruff linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend: Type checking with mypy
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && uv run mypy app'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend: ESLint and TypeScript
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/src/.*\.[jt]sx?$
        pass_filenames: false
      - id: tsc
        name: tsc
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/src/.*\.[jt]sx?$
        pass_filenames: false

feat: Add GitHub CLI wrapper script for managing PR review comments and threads (#60)
  .claude/settings.json
  scripts/gh_pr_comment_action.sh
Due: none

feat: Add hub NaPTAN code and common name fields to support cross-mode interchanges
  backend/alembic/versions/90d1c387ce78_add_hub_naptan_and_common_name_to_.py
  backend/app/models/tfl.py
  backend/app/schemas/tfl.py
  backend/app/services/tfl_service.py
  backend/tests/test_models.py
  backend/tests/test_tfl_service.py
  docs/adr/03-database.md
Due: mypy

feat: Implement hub fields extraction and update logic for TfL stations
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
Due: mypy

feat: Add unit tests for hub fields extraction and station update logic in TfLService
  backend/tests/test_tfl_service.py
Due: none

feat: Add hub NaPTAN code and common name fields to support cross-mode interchanges (#61)
  backend/alembic/versions/90d1c387ce78_add_hub_naptan_and_common_name_to_.py
  backend/app/models/tfl.py
  backend/app/schemas/tfl.py
  backend/app/services/tfl_service.py
  backend/tests/test_models.py
  backend/tests/test_tfl_service.py
  docs/adr/03-database.md
Due: mypy

feat: Optimize hub NaPTAN code fetching and update logic in TfLService with new tests
  IMPLEMENTATION_PLAN.md
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
Due: mypy

fix: Update test for extracting hub fields to handle empty string hub code correctly
  backend/tests/test_tfl_service.py
Due: none

fix - add missing changes from PR61 (#62)
  IMPLEMENTATION_PLAN.md
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
Due: mypy

feat: Implement mode filtering for TfL stations and enhance mock factory for tests
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
Due: mypy

address review comments: 1. Hub Name Fetching via TfL API (app/services/tfl_service.py:546-582)
  backend/app/api/admin.py
  backend/app/schemas/tfl.py
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
Due: mypy

feat: Add hubs_count assertion to test_build_graph_success
  backend/tests/test_tfl_api.py
Due: none

feat: Implement mode filtering for TfL stations and enhance mock factory for tests (#63)
  backend/app/api/admin.py
  backend/app/schemas/tfl.py
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_api.py
  backend/tests/test_tfl_service.py
Due: mypy

feat: Update _extract_hub_fields method to be asynchronous and adjust related tests
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
Due: mypy

All code review comments have been successfully addressed:
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
Due: mypy

feat: Update _extract_hub_fields method to be asynchronous and adjust related tests (#64)
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
Due: mypy

feat: Implement hub interchange validation (#52)
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
  docs/adr/07-external-apis.md
Due: mypy

feat: Optimize hub-equivalent station fetching by pre-fetching hub map feat: Refactor route validation methods and add unit tests for segment validation
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
Due: mypy

feat: Enhance hub interchange validation with support for multiple station IDs
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
Due: mypy

fix: Address code review comments for hub interchange validation
  backend/app/services/tfl_service.py
Due: mypy

feat: Implement hub interchange validation (#52) (#66)
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
  docs/adr/07-external-apis.md
Due: mypy

feat: Add hub NaPTAN code support for route validation (#65)
  backend/app/helpers/__init__.py
  backend/app/helpers/station_resolution.py
  backend/app/models/notification.py
  backend/app/models/route.py
  backend/app/schemas/routes.py
  backend/app/services/route_service.py
  backend/app/services/tfl_service.py
  backend/tests/test_routes_api.py
  backend/tests/test_station_resolution_helpers.py
  backend/tests/test_tfl_service.py
  docs/adr/07-external-apis.md
Due: mypy

refactor: Move imports inside TYPE_CHECKING block to avoid circular imports
  backend/app/models/notification.py
Due: mypy

feat: Optimize station resolution by querying both tfl_id and hub_naptan_code in a single database call
  backend/app/services/tfl_service.py
Due: mypy

feat: Add hub NaPTAN code support for route validation (#65) (#69)
  backend/app/helpers/__init__.py
  backend/app/helpers/station_resolution.py
  backend/app/models/notification.py
  backend/app/models/route.py
  backend/app/schemas/routes.py
  backend/app/services/route_service.py
  backend/app/services/tfl_service.py
  backend/tests/test_routes_api.py
  backend/tests/test_station_resolution_helpers.py
  backend/tests/test_tfl_service.py
  docs/adr/07-external-apis.md
Due: mypy

feat: Implement deduplication of stations by hub in TfLService
  backend/app/api/tfl.py
  backend/app/helpers/station_resolution.py
  backend/app/services/tfl_service.py
  backend/tests/conftest.py
  backend/tests/test_station_resolution_helpers.py
  backend/tests/test_tfl_api_dedup.py
  backend/tests/test_tfl_service_dedup.py
Due: mypy

feat: Optimize child station selection by sorting for deterministic line filtering
  backend/app/services/tfl_service.py
Due: mypy

feat: Replace Station model instantiation with create_test_station for test clarity
  backend/tests/test_station_resolution_helpers.py
Due: none

feat: Implement deduplication of stations by hub in TfLService (#71)
  backend/app/api/tfl.py
  backend/app/helpers/station_resolution.py
  backend/app/services/tfl_service.py
  backend/tests/conftest.py
  backend/tests/test_station_resolution_helpers.py
  backend/tests/test_tfl_api_dedup.py
  backend/tests/test_tfl_service_dedup.py
Due: mypy

feat: Display hub common names with interchange badge (#54)
  frontend/src/components/routes/SegmentBuilder.test.tsx
  frontend/src/components/routes/SegmentList.test.tsx
  frontend/src/components/routes/StationCombobox.test.tsx
  frontend/src/components/routes/StationCombobox.tsx
  frontend/src/hooks/useTflData.test.ts
  frontend/src/lib/api.ts
Due: eslint, tsc

feat: Display hub common names with interchange badge (#54) (#72)
  frontend/src/components/routes/SegmentBuilder.test.tsx
  frontend/src/components/routes/SegmentList.test.tsx
  frontend/src/components/routes/StationCombobox.test.tsx
  frontend/src/components/routes/StationCombobox.tsx
  frontend/src/hooks/useTflData.test.ts
  frontend/src/lib/api.ts
Due: eslint, tsc

feat: Enhance route validation to include directional checks and prevent backwards travel
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
  docs/adr/07-external-apis.md
Due: mypy

feat: Refactor route validation logic into pure functions for improved testability and performance
  backend/app/helpers/route_validation.py
  backend/app/services/tfl_service.py
  backend/tests/test_route_validation_helpers.py
Due: mypy

feat: Enhance backwards travel detection in route validation and logging
  backend/app/helpers/route_validation.py
  backend/app/services/tfl_service.py
  backend/tests/test_route_validation_helpers.py
  backend/tests/test_tfl_service.py
Due: mypy

Fix/issue 57 route direction validation (#73)
  backend/app/helpers/route_validation.py
  backend/app/services/tfl_service.py
  backend/tests/test_route_validation_helpers.py
  backend/tests/test_tfl_service.py
  docs/adr/07-external-apis.md
Due: mypy

Simplify ADRs
  IMPLEMENTATION_PLAN.md
  docs/adr/03-database.md
  docs/adr/07-external-apis.md
Due: none

Simplify ADRs (#55) (#74)
  IMPLEMENTATION_PLAN.md
  docs/adr/03-database.md
  docs/adr/07-external-apis.md
Due: none

Remove tfl colours from back end and use front end configuration only (#85)
  backend/alembic/versions/595219043932_remove_color_from_lines.py
  backend/app/models/tfl.py
  backend/app/schemas/tfl.py
  backend/app/services/tfl_service.py
  backend/tests/test_alert_service.py
  backend/tests/test_models.py
  backend/tests/test_route_service.py
  backend/tests/test_routes_api.py
  backend/tests/test_tfl_api.py
  backend/tests/test_tfl_integration.py
  backend/tests/test_tfl_service.py
  frontend/src/components/routes/LineButton.test.tsx
  frontend/src/components/routes/LineSelect.tsx
  frontend/src/components/routes/SegmentDisplay.tsx
  frontend/src/components/routes/SegmentList.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/tfl-colors.ts
Due: mypy, eslint, tsc

Enhance TfL station fetching logic with validation and error handling
  backend/app/api/tfl.py
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_api.py
  backend/tests/test_tfl_service.py
  docs/adr/07-external-apis.md
Due: mypy

Add skip_database_validation option to fetch_stations calls in tests
  backend/tests/test_tfl_integration.py
  backend/tests/test_tfl_service.py
Due: none

Add station fetching helpers and corresponding unit tests
  backend/app/helpers/station_fetching.py
  backend/app/services/tfl_service.py
  backend/tests/helpers/test_station_fetching.py
Due: mypy
