Repository mnbf9rca/IsTheTubeRunning: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy app'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

Refactor caching logic to ensure TTL is consistently set for station results
  backend/app/services/tfl_service.py
Due: mypy

Enhance filter_stations_by_line_tfl_id to handle non-list lines defensively
  backend/app/helpers/station_fetching.py
  backend/tests/helpers/test_station_fetching.py
Due: mypy

Validate line_tfl_id when skip_database_validation is enabled in station fetching
  backend/app/services/tfl_service.py
Due: mypy

Enhance TfL station fetching logic with validation and error handling (#87)
  backend/app/api/tfl.py
  backend/app/helpers/station_fetching.py
  backend/app/services/tfl_service.py
  backend/tests/helpers/test_station_fetching.py
  backend/tests/test_tfl_api.py
  backend/tests/test_tfl_integration.py
  backend/tests/test_tfl_service.py
  docs/adr/07-external-apis.md
Due: mypy

fix: Update segment selection logic to only show station selection step
  frontend/src/components/routes/SegmentBuilder.tsx
Due: eslint, tsc

fix: Enhance segment deletion logic to intelligently resume from last remaining segment
  frontend/src/components/routes/SegmentBuilder.test.tsx
  frontend/src/components/routes/SegmentBuilder.tsx
Due: eslint, tsc

fix: Refactor segment deletion and resume logic to improve route editing experience
  frontend/src/components/routes/SegmentBuilder.test.tsx
  frontend/src/components/routes/SegmentBuilder.tsx
Due: eslint, tsc

fix: Implement edit mode for completed routes to allow destination selection
  frontend/src/components/routes/SegmentBuilder.tsx
Due: eslint, tsc

fix: Allow re-selection of next station by adding back button in choose-action step
  frontend/src/components/routes/SegmentBuilder.test.tsx
  frontend/src/components/routes/SegmentBuilder.tsx
Due: eslint, tsc

Fix/issue 86 route builder station picker (#92)
  frontend/src/components/routes/SegmentBuilder.test.tsx
  frontend/src/components/routes/SegmentBuilder.tsx
Due: eslint, tsc

Update implementation plans with merged PRs and completion statuses for Phase 10
  IMPLEMENTATION_PLAN.md
  phase_10_implementation_plan.md
Due: none

Update implementation plans with merged PRs and completion statuses for Phase 10 (#94)
  IMPLEMENTATION_PLAN.md
  phase_10_implementation_plan.md
Due: none

Add ADR 11: Frontend State Management pattern for complex components
  docs/adr/11-frontend-state-management.md
  docs/adr/README.md
Due: none

Create SegmentBuilder directory and move files with updated imports
  .claude/settings.json
  frontend/src/components/routes/SegmentBuilder/SegmentBuilder.test.tsx
  frontend/src/components/routes/SegmentBuilder/SegmentBuilder.tsx
  frontend/src/pages/CreateRoute.tsx
  frontend/src/pages/RouteDetails.tsx
Due: eslint, tsc

Add types.ts module with Step, ValidationResult, and SegmentBuilderState
  frontend/src/components/routes/SegmentBuilder/SegmentBuilder.tsx
  frontend/src/components/routes/SegmentBuilder/types.ts
Due: eslint, tsc

Add validation.ts and validation.test.ts with 100% coverage
  frontend/src/components/routes/SegmentBuilder/validation.test.ts
  frontend/src/components/routes/SegmentBuilder/validation.ts
Due: eslint, tsc

Refactor SegmentBuilder to use validation functions - eliminate all duplication
  frontend/src/components/routes/SegmentBuilder/SegmentBuilder.tsx
Due: eslint, tsc

Address code review feedback: explicit additionalCount and clear errors at handler start
  frontend/src/components/routes/SegmentBuilder/SegmentBuilder.tsx
Due: eslint, tsc

Feature/issue 95 segmentbuilder validation types (#99)
  .claude/settings.json
  docs/adr/11-frontend-state-management.md
  docs/adr/README.md
  frontend/src/components/routes/SegmentBuilder/SegmentBuilder.test.tsx
  frontend/src/components/routes/SegmentBuilder/SegmentBuilder.tsx
  frontend/src/components/routes/SegmentBuilder/types.ts
  frontend/src/components/routes/SegmentBuilder/validation.test.ts
  frontend/src/components/routes/SegmentBuilder/validation.ts
  frontend/src/pages/CreateRoute.tsx
  frontend/src/pages/RouteDetails.tsx
Due: eslint, tsc

Add test runner script to streamline test execution
  frontend/test-runner.sh
Due: none

feat: add segment building logic and utility functions for SegmentBuilder
  frontend/src/components/routes/SegmentBuilder/SegmentBuilder.tsx
  frontend/src/components/routes/SegmentBuilder/segments.test.ts
  frontend/src/components/routes/SegmentBuilder/segments.ts
  frontend/src/components/routes/SegmentBuilder/utils.test.ts
  frontend/src/components/routes/SegmentBuilder/utils.ts
Due: eslint, tsc

Feature/issue 96 extract segment building logic (#100)
  frontend/src/components/routes/SegmentBuilder/SegmentBuilder.tsx
  frontend/src/components/routes/SegmentBuilder/segments.test.ts
  frontend/src/components/routes/SegmentBuilder/segments.ts
  frontend/src/components/routes/SegmentBuilder/utils.test.ts
  frontend/src/components/routes/SegmentBuilder/utils.ts
  frontend/test-runner.sh
Due: eslint, tsc

Extract state machine logic from SegmentBuilder (#97)
  frontend/src/components/routes/SegmentBuilder/SegmentBuilder.tsx
  frontend/src/components/routes/SegmentBuilder/segments.test.ts
  frontend/src/components/routes/SegmentBuilder/segments.ts
  frontend/src/components/routes/SegmentBuilder/transitions.test.ts
  frontend/src/components/routes/SegmentBuilder/transitions.ts
  frontend/src/components/routes/SegmentBuilder/types.ts
Due: eslint, tsc

Address PR #101 code review comments
  frontend/src/components/routes/SegmentBuilder/SegmentBuilder.tsx
  frontend/src/components/routes/SegmentBuilder/segments.ts
Due: eslint, tsc

Extract State Machine Logic from SegmentBuilder (#97) (#101)
  frontend/src/components/routes/SegmentBuilder/SegmentBuilder.tsx
  frontend/src/components/routes/SegmentBuilder/segments.test.ts
  frontend/src/components/routes/SegmentBuilder/segments.ts
  frontend/src/components/routes/SegmentBuilder/transitions.test.ts
  frontend/src/components/routes/SegmentBuilder/transitions.ts
  frontend/src/components/routes/SegmentBuilder/types.ts
Due: eslint, tsc

completed the refactoring to integrate pure functions into a custom hook and rewrite the SegmentBuilder component:
  frontend/src/components/routes/SegmentBuilder/SegmentBuilder.tsx
  frontend/src/components/routes/SegmentBuilder/hooks/useSegmentBuilderState.test.ts
  frontend/src/components/routes/SegmentBuilder/hooks/useSegmentBuilderState.ts
Due: eslint, tsc

Refactor SegmentBuilder logic and validation: integrate error handling in handleMarkAsDestination, streamline next station selection, and add calculateAdditionalSegments utility function.
  frontend/src/components/routes/SegmentBuilder/SegmentBuilder.tsx
  frontend/src/components/routes/SegmentBuilder/hooks/useSegmentBuilderState.test.ts
  frontend/src/components/routes/SegmentBuilder/hooks/useSegmentBuilderState.ts
  frontend/src/components/routes/SegmentBuilder/validation.ts
Due: eslint, tsc

completed the refactoring to integrate pure functions into a custom hook and rewrite the SegmentBuilder component (#102)
  frontend/src/components/routes/SegmentBuilder/SegmentBuilder.tsx
  frontend/src/components/routes/SegmentBuilder/hooks/useSegmentBuilderState.test.ts
  frontend/src/components/routes/SegmentBuilder/hooks/useSegmentBuilderState.ts
  frontend/src/components/routes/SegmentBuilder/validation.ts
Due: eslint, tsc

refactor: update handleEditRoute to remove destination marker and adjust state for seamless route continuation
  frontend/src/components/routes/SegmentBuilder/hooks/useSegmentBuilderState.test.ts
  frontend/src/components/routes/SegmentBuilder/hooks/useSegmentBuilderState.ts
Due: eslint, tsc

feat: implement removeDestinationMarker function and add tests for segment filtering
  frontend/src/components/routes/SegmentBuilder/hooks/useSegmentBuilderState.ts
  frontend/src/components/routes/SegmentBuilder/segments.test.ts
  frontend/src/components/routes/SegmentBuilder/segments.ts
Due: eslint, tsc

refactor: update handleEditRoute to remove destination marker and adjust state for seamless route continuation (#103)
  frontend/src/components/routes/SegmentBuilder/hooks/useSegmentBuilderState.test.ts
  frontend/src/components/routes/SegmentBuilder/hooks/useSegmentBuilderState.ts
  frontend/src/components/routes/SegmentBuilder/segments.test.ts
  frontend/src/components/routes/SegmentBuilder/segments.ts
Due: eslint, tsc

feat: enhance TestRailwayNetwork with comprehensive test network (Issue #104)
  backend/tests/conftest.py
  backend/tests/test_test_network.py
  docs/test_network_diagram.md
Due: none

docs: clarify hub children vs route stations in test network diagram
  docs/test_network_diagram.md
Due: none

refactor: extract TestRailwayNetwork to helpers module
  backend/tests/conftest.py
  backend/tests/helpers/railway_network.py
  backend/tests/test_test_network.py
Due: none

fix: update import for create_test_station in test_station_resolution_helpers
  backend/tests/test_station_resolution_helpers.py
Due: none

refactor: consolidate hub children tests using parameterization in test_test_network.py; update documentation path in test_network_diagram.md
  backend/tests/test_test_network.py
  docs/test_network_diagram.md
Due: none

refactor: update TestRailwayNetwork documentation and constants for clarity on hub modes
  backend/tests/helpers/railway_network.py
  docs/test_network_diagram.md
Due: none

feat: enhance TestRailwayNetwork with comprehensive test network (Issue #104) (#108)
  backend/tests/conftest.py
  backend/tests/helpers/railway_network.py
  backend/tests/test_station_resolution_helpers.py
  backend/tests/test_test_network.py
  docs/test_network_diagram.md
Due: none

docs: clarify definition of hubs and shared stations in Test Railway Network documentation
  docs/test_network_diagram.md
Due: none

feat: add helper functions and integration tests for test railway network fixture
  backend/tests/conftest.py
  backend/tests/helpers/network_helpers.py
  backend/tests/test_railway_network_fixture.py
  backend/tests/test_routes_api.py
Due: none

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/src/.*\.[jt]sx?$
  tsc: any of: ^frontend/src/.*\.[jt]sx?$
