Repository mnbf9rca/IsTheTubeRunning: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy app'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

Feature/add timezone support to routes (#18)
  ARCHITECTURE.md
  backend/alembic/versions/1c202b5d7d28_add_timezone_to_routes.py
  backend/app/api/routes.py
  backend/app/models/route.py
  backend/app/schemas/routes.py
  backend/app/services/route_service.py
  backend/tests/test_routes_api.py
  backend/tests/test_schemas_routes.py
Due: mypy

Add tests for Celery tasks and notification service
  backend/Dockerfile
  backend/app/celery/__init__.py
  backend/app/celery/app.py
  backend/app/celery/database.py
  backend/app/celery/schedules.py
  backend/app/celery/tasks.py
  backend/app/services/alert_service.py
  backend/app/services/notification_service.py
  backend/app/templates/email/disruption_alert.html
  backend/tests/test_alert_service.py
  backend/tests/test_celery_tasks.py
  backend/tests/test_notification_service.py
  docker-compose.yml
Due: mypy

Fix: Update Celery command to use 'uv run' for worker and beat services
  docker-compose.yml
Due: none

Refactor: Enhance email and SMS services for improved functionality and error handling
  backend/app/services/alert_service.py
  backend/app/services/email_service.py
  backend/app/services/notification_service.py
  backend/app/services/sms_service.py
  backend/tests/test_alert_service.py
  backend/tests/test_celery_tasks.py
  backend/tests/test_notification_service.py
  backend/tests/test_sms_service.py
Due: mypy

Refactor: Improve alert service error handling and notification logic
  backend/app/celery/tasks.py
  backend/app/services/alert_service.py
  backend/tests/test_alert_service.py
Due: mypy

Refactor: Add mock Redis client and AlertService fixture for improved testing coverage
  backend/tests/conftest.py
  backend/tests/test_alert_service.py
  backend/tests/test_celery_tasks.py
  backend/tests/test_phase8_coverage.py
Due: none

Fix: Update status code assertion from UNPROCESSABLE_ENTITY to UNPROCESSABLE_CONTENT in notification preferences tests
  backend/tests/test_notification_preferences_api.py
Due: none

Refactor: Enhance test coverage for AlertService and NotificationService, including error handling and message truncation
  backend/tests/test_alert_service.py
  backend/tests/test_celery_database.py
  backend/tests/test_celery_tasks.py
  backend/tests/test_notification_service.py
  backend/tests/test_phase8_coverage.py
Due: none

Refactor: Update database connection pool settings to use configurable values and improve alert service hash input construction
  backend/app/celery/database.py
  backend/app/core/config.py
  backend/app/services/alert_service.py
  backend/app/services/notification_service.py
  backend/tests/test_alert_service.py
  backend/tests/test_celery_database.py
Due: mypy

Feature/phase 8 alert worker core (#19)
  backend/Dockerfile
  backend/app/celery/__init__.py
  backend/app/celery/app.py
  backend/app/celery/database.py
  backend/app/celery/schedules.py
  backend/app/celery/tasks.py
  backend/app/core/config.py
  backend/app/services/alert_service.py
  backend/app/services/email_service.py
  backend/app/services/notification_service.py
  backend/app/services/sms_service.py
  backend/app/templates/email/disruption_alert.html
  backend/tests/conftest.py
  backend/tests/test_alert_service.py
  backend/tests/test_celery_database.py
  backend/tests/test_celery_tasks.py
  backend/tests/test_notification_preferences_api.py
  backend/tests/test_notification_service.py
  backend/tests/test_sms_service.py
  docker-compose.yml
Due: mypy

feat: Implement admin alert management endpoints and authorization
  ARCHITECTURE.md
  IMPLEMENTATION_PLAN.md
  README.md
  backend/app/api/admin.py
  backend/app/core/admin.py
  backend/app/schemas/admin.py
  backend/tests/conftest.py
  backend/tests/test_admin_alerts.py
  backend/tests/test_tfl_api.py
Due: mypy

fix: Update Redis client closure method to use aclose for async compatibility
  backend/tests/test_alert_service.py
Due: none

feat: Enhance worker status checks with Redis integration and logging
  backend/app/api/admin.py
  backend/app/services/alert_service.py
  backend/tests/test_admin_alerts.py
Due: mypy

fix: Update Redis client closure method to use aclose for async compatibility and enhance alert service logging
  backend/app/celery/tasks.py
  backend/app/services/alert_service.py
  backend/tests/test_alert_service.py
Due: mypy

test: Add SMS notification tests for single and multiple disruptions with truncation
  backend/tests/test_alert_service.py
  backend/tests/test_notification_service.py
Due: none

fix: Update Redis client mock to use aclose for async compatibility in Celery task tests feat: Enhance notification service tests with URL parsing and hostname validation
  backend/tests/test_celery_tasks.py
  backend/tests/test_notification_service.py
Due: none

Feature/phase 8 admin endpoints (#20)
  ARCHITECTURE.md
  IMPLEMENTATION_PLAN.md
  README.md
  backend/app/api/admin.py
  backend/app/celery/tasks.py
  backend/app/core/admin.py
  backend/app/schemas/admin.py
  backend/app/services/alert_service.py
  backend/tests/conftest.py
  backend/tests/test_admin_alerts.py
  backend/tests/test_alert_service.py
  backend/tests/test_celery_tasks.py
  backend/tests/test_notification_service.py
  backend/tests/test_tfl_api.py
Due: mypy

Refactor TfL service tests to enhance disruption handling and add severity code fetching
  backend/alembic/versions/a1c51fa40ade_add_tfl_metadata_and_station_disruption_.py
  backend/app/api/admin.py
  backend/app/api/tfl.py
  backend/app/models/tfl.py
  backend/app/schemas/tfl.py
  backend/app/services/alert_service.py
  backend/app/services/tfl_service.py
  backend/tests/test_alert_service.py
  backend/tests/test_tfl_api.py
  backend/tests/test_tfl_service.py
Due: mypy

Add methods to extract and process disruption data in TfLService
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
Due: mypy

Implement station disruption creation and helper methods in TfLService
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
Due: mypy

Refactor test_tfl_service.py to use pydantic models for mock data
  backend/tests/test_alert_service.py
  backend/tests/test_tfl_service.py
Due: none

Enhance TfL data models and service methods for disruption handling and upsert operations
  backend/alembic/versions/f8838ec5262d_remove_redundant_station_id_index_from_.py
  backend/app/models/tfl.py
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
Due: mypy

Add integration tests for TfL API service and update README with setup instructions
  backend/.env.vault
  backend/README.md
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/test_tfl_integration.py
Due: none

Refactor settings import and update settings_fixture return type in tests
  backend/tests/conftest.py
  backend/tests/test_tfl_service.py
Due: none

Feature/correct tfl api methods (#21)
  backend/.env.vault
  backend/README.md
  backend/alembic/versions/a1c51fa40ade_add_tfl_metadata_and_station_disruption_.py
  backend/alembic/versions/f8838ec5262d_remove_redundant_station_id_index_from_.py
  backend/app/api/admin.py
  backend/app/api/tfl.py
  backend/app/models/tfl.py
  backend/app/schemas/tfl.py
  backend/app/services/alert_service.py
  backend/app/services/tfl_service.py
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/test_alert_service.py
  backend/tests/test_tfl_api.py
  backend/tests/test_tfl_integration.py
  backend/tests/test_tfl_service.py
Due: mypy

Add user management and analytics schemas, service, and tests
  ARCHITECTURE.md
  IMPLEMENTATION_PLAN.md
  backend/app/api/admin.py
  backend/app/schemas/admin.py
  backend/app/services/admin_service.py
  backend/tests/test_admin_dashboard.py
Due: mypy

Feature: Enhance user anonymisation process and add test for multiple contacts
  backend/app/services/admin_service.py
  backend/tests/test_admin_dashboard.py
Due: mypy

Feature: Enhance user anonymization process by explicitly deleting NotificationPreference records and optimizing user retrieval queries
  ARCHITECTURE.md
  backend/app/services/admin_service.py
Due: mypy

Add user management and analytics schemas, service, and tests (#22)
  ARCHITECTURE.md
  IMPLEMENTATION_PLAN.md
  backend/app/api/admin.py
  backend/app/schemas/admin.py
  backend/app/services/admin_service.py
  backend/tests/test_admin_dashboard.py
Due: mypy

Feature: Add detailed implementation plan for Phase 10 frontend development
  phase_10_implementation_plan.md
Due: none

Update Phase 10 implementation plan: upgrade Auth0 dependency and add frontend quality tooling setup tasks
  phase_10_implementation_plan.md
Due: none

feat: Implement authentication foundation with Auth0 integration
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  IMPLEMENTATION_PLAN.md
  frontend/.env.example
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ProtectedRoute.test.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/Navigation.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/hooks/useAuth.test.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/index.css
  frontend/src/lib/api.ts
  frontend/src/lib/utils.ts
  frontend/src/main.tsx
  frontend/src/pages/Callback.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Home.test.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Login.test.tsx
  frontend/src/pages/Login.tsx
  frontend/src/test/setup.ts
  phase_10_implementation_plan.md
Due: eslint, tsc

fix: Adjust ESLint directive for Button component export
  frontend/src/components/ui/button.tsx
Due: eslint, tsc

refactor: Update CSS variables to use HSL color values and restructure theme definitions
  frontend/src/index.css
Due: none

feat: Implement centralized configuration management with JSON files for different environments
  frontend/.env.example
  frontend/.gitignore
  frontend/config/config.development.json
  frontend/config/config.production.json
  frontend/config/config.test.json
  frontend/src/App.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/config.ts
  frontend/src/main.tsx
Due: eslint, tsc

test: Add comprehensive tests for authentication and dashboard components
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/layout/Header.test.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/config.test.ts
  frontend/src/lib/utils.test.ts
  frontend/src/pages/Callback.test.tsx
  frontend/src/pages/Dashboard.test.tsx
  frontend/vite.config.ts
Due: eslint, tsc

chore: Update dependencies in package.json for improved compatibility and performance
  frontend/package-lock.json
  frontend/package.json
Due: none

test: Refactor conditional class test for clarity and maintainability
  frontend/src/lib/utils.test.ts
  frontend/tsconfig.app.json
Due: eslint, tsc

refactor: Simplify test assertions and update pre-commit hooks for formatting and linting
  .pre-commit-config.yaml
Due: none

refactor: Simplify test assertions for API health check and authentication error handling
  frontend/src/lib/api.test.ts
  frontend/src/pages/Callback.test.tsx
Due: eslint, tsc

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/src/.*\.[jt]sx?$
  tsc: any of: ^frontend/src/.*\.[jt]sx?$
