Repository mnbf9rca/IsTheTubeRunning: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, tsc, frontend-build

.pre-commit-config.yaml:

# Pre-commit hooks for monorepo
# Install: uv sync && uv run pre-commit install
# Run manually: uv run pre-commit run --all-files

repos:
  # Universal checks and auto-fixes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: forbid-new-submodules
      - id: no-commit-to-branch
        args: ['--branch', 'main']

  # Prevent .env files in root directory
  - repo: local
    hooks:
      - id: no-root-env-files
        name: Block .env files in root directory
        entry: bash -c 'if ls .env* 2>/dev/null | grep -v ".env.example" > /dev/null; then echo "ERROR - .env files should be in backend/ directory not root"; exit 1; fi'
        language: system
        pass_filenames: false
        always_run: true

  # Backend: Ruff linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend: Type checking with mypy
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && uv run mypy app'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false
      - id: encrypt-dotenv
        name: Re-encrypt .env files with dotenvx
        entry: bash -c 'cd backend && dotenvx encrypt'
        language: system
        always_run: true
        pass_filenames: false
      - id: dotenvx-precommit
        name: Verify .env files are protected (encrypted or gitignored)
        entry: bash -c 'cd backend && dotenvx ext precommit'
        language: system
        always_run: true
        pass_filenames: false

  # Frontend: Prettier, ESLint, and TypeScript
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/src/.*\.(js|ts|tsx|css)$
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint:fix'
        language: system
        files: ^frontend/src/.*\.[jt]sx?$
        pass_filenames: false
      - id: tsc
        name: tsc
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/src/.*\.[jt]sx?$
        pass_filenames: false
      - id: frontend-build
        name: frontend build
        entry: bash -c 'cd frontend && npm run build'
        language: system
        files: ^frontend/
        pass_filenames: false

  # Shell scripts: Shellcheck
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        name: shellcheck
        files: \.sh$
        args: ['--exclude=SC1091']  # Ignore "not following sourced files" info messages

  # GitHub Actions: actionlint
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

fix: update VSCode debugpy launch config for dotenvx compatibility (#324)
  .vscode/launch.json
  .vscode/tasks.json
  backend/.gitignore
Due: none

refactor: migrate type imports from @/lib/api to @/types (#321)
  frontend/src/components/admin/UserDetailDialog.test.tsx
  frontend/src/components/admin/UserDetailDialog.tsx
  frontend/src/components/admin/UserTable.test.tsx
  frontend/src/components/admin/UserTable.tsx
  frontend/src/components/contacts/ContactCard.tsx
  frontend/src/components/contacts/ContactList.tsx
  frontend/src/components/contacts/VerificationDialog.tsx
  frontend/src/components/routes/LineButton.test.tsx
  frontend/src/components/routes/LineButton.tsx
  frontend/src/components/routes/LineSelect.tsx
  frontend/src/components/routes/NotificationDisplay.tsx
  frontend/src/components/routes/RouteCard.tsx
  frontend/src/components/routes/RouteList.tsx
  frontend/src/components/routes/ScheduleList.tsx
  frontend/src/components/routes/SegmentBuilder/SegmentBuilder.tsx
  frontend/src/components/routes/SegmentBuilder/hooks/useSegmentBuilderState.test.ts
  frontend/src/components/routes/SegmentBuilder/hooks/useSegmentBuilderState.ts
  frontend/src/components/routes/SegmentBuilder/segments.test.ts
  frontend/src/components/routes/SegmentBuilder/segments.ts
  frontend/src/components/routes/SegmentBuilder/transitions.test.ts
  frontend/src/components/routes/SegmentBuilder/transitions.ts
  frontend/src/components/routes/SegmentBuilder/types.ts
  frontend/src/components/routes/SegmentBuilder/utils.test.ts
  frontend/src/components/routes/SegmentBuilder/utils.ts
  frontend/src/components/routes/SegmentBuilder/validation.ts
  frontend/src/components/routes/SegmentDisplay.tsx
  frontend/src/components/routes/SegmentList.tsx
  frontend/src/components/routes/StationCombobox.tsx
  frontend/src/contexts/BackendAuthContext.tsx
  frontend/src/hooks/useAdminUsers.ts
  frontend/src/hooks/useContactDialogs.ts
  frontend/src/hooks/useContacts.ts
  frontend/src/hooks/useRoutes.ts
  frontend/src/hooks/useTflData.ts
  frontend/src/lib/api.ts
  frontend/src/lib/tfl-colors.ts
  frontend/src/pages/CreateRoute.tsx
  frontend/src/pages/RouteDetails.tsx
  frontend/src/pages/admin/AdminUsers.test.tsx
Due: prettier, eslint, tsc, frontend-build

refactor: migrate type imports from @/lib/api to @/types (#321) (#325)
  frontend/src/components/admin/UserDetailDialog.test.tsx
  frontend/src/components/admin/UserDetailDialog.tsx
  frontend/src/components/admin/UserTable.test.tsx
  frontend/src/components/admin/UserTable.tsx
  frontend/src/components/contacts/ContactCard.tsx
  frontend/src/components/contacts/ContactList.tsx
  frontend/src/components/contacts/VerificationDialog.tsx
  frontend/src/components/routes/LineButton.test.tsx
  frontend/src/components/routes/LineButton.tsx
  frontend/src/components/routes/LineSelect.tsx
  frontend/src/components/routes/NotificationDisplay.tsx
  frontend/src/components/routes/RouteCard.tsx
  frontend/src/components/routes/RouteList.tsx
  frontend/src/components/routes/ScheduleList.tsx
  frontend/src/components/routes/SegmentBuilder/SegmentBuilder.tsx
  frontend/src/components/routes/SegmentBuilder/hooks/useSegmentBuilderState.test.ts
  frontend/src/components/routes/SegmentBuilder/hooks/useSegmentBuilderState.ts
  frontend/src/components/routes/SegmentBuilder/segments.test.ts
  frontend/src/components/routes/SegmentBuilder/segments.ts
  frontend/src/components/routes/SegmentBuilder/transitions.test.ts
  frontend/src/components/routes/SegmentBuilder/transitions.ts
  frontend/src/components/routes/SegmentBuilder/types.ts
  frontend/src/components/routes/SegmentBuilder/utils.test.ts
  frontend/src/components/routes/SegmentBuilder/utils.ts
  frontend/src/components/routes/SegmentBuilder/validation.ts
  frontend/src/components/routes/SegmentDisplay.tsx
  frontend/src/components/routes/SegmentList.tsx
  frontend/src/components/routes/StationCombobox.tsx
  frontend/src/contexts/BackendAuthContext.tsx
  frontend/src/hooks/useAdminUsers.ts
  frontend/src/hooks/useContactDialogs.ts
  frontend/src/hooks/useContacts.ts
  frontend/src/hooks/useRoutes.ts
  frontend/src/hooks/useTflData.ts
  frontend/src/lib/api.ts
  frontend/src/lib/tfl-colors.ts
  frontend/src/pages/CreateRoute.tsx
  frontend/src/pages/RouteDetails.tsx
  frontend/src/pages/admin/AdminUsers.test.tsx
Due: prettier, eslint, tsc, frontend-build

feat: implement frontend disruption infrastructure (#226)
  frontend/src/components/disruptions/DisruptionBadge.test.tsx
  frontend/src/components/disruptions/DisruptionBadge.tsx
  frontend/src/components/disruptions/DisruptionSummary.test.tsx
  frontend/src/components/disruptions/DisruptionSummary.tsx
  frontend/src/components/disruptions/index.ts
  frontend/src/hooks/useDisruptions.test.ts
  frontend/src/hooks/useDisruptions.ts
  frontend/src/hooks/useUserRouteDisruptions.test.ts
  frontend/src/hooks/useUserRouteDisruptions.ts
  frontend/src/lib/api.ts
  frontend/src/types/index.ts
Due: prettier, eslint, tsc, frontend-build

fix: remove skipAuth from disruption API calls
  frontend/src/lib/api.ts
Due: prettier, eslint, tsc, frontend-build

fix: address PR #326 review comments
  frontend/src/components/disruptions/DisruptionSummary.test.tsx
  frontend/src/components/disruptions/DisruptionSummary.tsx
  frontend/src/hooks/useDisruptions.test.ts
  frontend/src/hooks/useDisruptions.ts
  frontend/src/hooks/useUserRouteDisruptions.test.ts
  frontend/src/hooks/useUserRouteDisruptions.ts
Due: prettier, eslint, tsc, frontend-build

fix: import types from @/types instead of ../lib/api
  frontend/src/components/disruptions/DisruptionBadge.tsx
  frontend/src/hooks/useDisruptions.test.ts
  frontend/src/hooks/useUserRouteDisruptions.test.ts
Due: prettier, eslint, tsc, frontend-build

docs: add warning against importing types from api.ts
  frontend/src/lib/api.ts
Due: prettier, eslint, tsc, frontend-build

feat: implement frontend disruption infrastructure (#226) (#326)
  frontend/src/components/disruptions/DisruptionBadge.test.tsx
  frontend/src/components/disruptions/DisruptionBadge.tsx
  frontend/src/components/disruptions/DisruptionSummary.test.tsx
  frontend/src/components/disruptions/DisruptionSummary.tsx
  frontend/src/components/disruptions/index.ts
  frontend/src/hooks/useDisruptions.test.ts
  frontend/src/hooks/useDisruptions.ts
  frontend/src/hooks/useUserRouteDisruptions.test.ts
  frontend/src/hooks/useUserRouteDisruptions.ts
  frontend/src/lib/api.ts
  frontend/src/types/index.ts
Due: prettier, eslint, tsc, frontend-build

feat: add ESLint rule to prevent type imports from @/lib/api (#328)
  frontend/eslint.config.js
Due: frontend-build

feat: add ESLint rule to prevent type imports from @/lib/api (#328) (#329)
  frontend/eslint.config.js
Due: frontend-build

feat: add PollingCoordinator class for centralized polling management
  frontend/src/lib/PollingCoordinator.ts
Due: prettier, eslint, tsc, frontend-build

test: add comprehensive tests for PollingCoordinator
  frontend/src/lib/PollingCoordinator.test.ts
Due: prettier, eslint, tsc, frontend-build

feat: add PollingContext for centralized polling management
  frontend/src/contexts/PollingContext.tsx
Due: prettier, eslint, tsc, frontend-build

feat: add usePolling generic hook for coordinated polling
  frontend/src/hooks/usePolling.ts
Due: prettier, eslint, tsc, frontend-build

feat: integrate PollingProvider into App component tree
  frontend/src/App.tsx
Due: prettier, eslint, tsc, frontend-build

test: add comprehensive PollingContext tests
  frontend/src/contexts/PollingContext.test.tsx
Due: prettier, eslint, tsc, frontend-build

test: add comprehensive usePolling hook tests
  frontend/src/hooks/usePolling.test.tsx
Due: prettier, eslint, tsc, frontend-build

refactor: migrate useDisruptions to use usePolling hook
  frontend/src/hooks/useDisruptions.test.tsx
  frontend/src/hooks/useDisruptions.ts
Due: prettier, eslint, tsc, frontend-build

refactor: migrate useUserRouteDisruptions to use usePolling hook
  frontend/src/hooks/useUserRouteDisruptions.test.tsx
  frontend/src/hooks/useUserRouteDisruptions.ts
Due: prettier, eslint, tsc, frontend-build

fix: address PR review comments for polling coordination
  frontend/src/contexts/PollingContext.tsx
  frontend/src/hooks/useDisruptions.ts
  frontend/src/hooks/useUserRouteDisruptions.ts
Due: prettier, eslint, tsc, frontend-build

test: wrap refresh() calls in act() to eliminate React warnings
  frontend/src/hooks/usePolling.test.tsx
Due: prettier, eslint, tsc, frontend-build

fix: pause polls immediately when registered in unavailable/unauthenticated state
  frontend/src/contexts/PollingContext.tsx
  frontend/src/hooks/usePolling.ts
Due: prettier, eslint, tsc, frontend-build

feat: implement polling coordination strategy for frontend hooks (#327) (#330)
  frontend/src/App.tsx
  frontend/src/contexts/PollingContext.test.tsx
  frontend/src/contexts/PollingContext.tsx
  frontend/src/hooks/useDisruptions.test.tsx
  frontend/src/hooks/useDisruptions.ts
  frontend/src/hooks/usePolling.test.tsx
  frontend/src/hooks/usePolling.ts
  frontend/src/hooks/useUserRouteDisruptions.test.tsx
  frontend/src/hooks/useUserRouteDisruptions.ts
  frontend/src/lib/PollingCoordinator.test.ts
  frontend/src/lib/PollingCoordinator.ts
Due: prettier, eslint, tsc, frontend-build

feat: display TfL disruptions on Dashboard page (#227)
  frontend/src/components/disruptions/DisruptionCard.test.tsx
  frontend/src/components/disruptions/DisruptionCard.tsx
  frontend/src/components/disruptions/NetworkDisruptionsList.test.tsx
  frontend/src/components/disruptions/NetworkDisruptionsList.tsx
  frontend/src/components/disruptions/index.ts
  frontend/src/pages/Dashboard.test.tsx
  frontend/src/pages/Dashboard.tsx
Due: prettier, eslint, tsc, frontend-build

fix: address PR review comments - test data consistency and React key uniqueness
  frontend/src/components/disruptions/DisruptionCard.test.tsx
  frontend/src/components/disruptions/NetworkDisruptionsList.test.tsx
  frontend/src/components/disruptions/NetworkDisruptionsList.tsx
Due: prettier, eslint, tsc, frontend-build

fix: resolve React StrictMode issues with PollingCoordinator
  .vscode/launch.json
  frontend/src/components/disruptions/NetworkDisruptionsList.tsx
  frontend/src/contexts/PollingContext.test.tsx
  frontend/src/contexts/PollingContext.tsx
Due: prettier, eslint, tsc, frontend-build

feat: display TfL disruptions on Dashboard page (#227) (#332)
  .vscode/launch.json
  frontend/src/components/disruptions/DisruptionCard.test.tsx
  frontend/src/components/disruptions/DisruptionCard.tsx
  frontend/src/components/disruptions/NetworkDisruptionsList.test.tsx
  frontend/src/components/disruptions/NetworkDisruptionsList.tsx
  frontend/src/components/disruptions/index.ts
  frontend/src/contexts/PollingContext.test.tsx
  frontend/src/contexts/PollingContext.tsx
  frontend/src/pages/Dashboard.test.tsx
  frontend/src/pages/Dashboard.tsx
Due: prettier, eslint, tsc, frontend-build

fix: ensure defaultMode is set to 'plan' in settings.json
  .claude/settings.json
Due: none

feat: group TfL disruptions by line to eliminate duplicates (#333)
  backend/app/api/tfl.py
  backend/app/schemas/tfl.py
  backend/app/services/tfl_service.py
  backend/openapi.json
  backend/tests/test_tfl_api.py
  backend/tests/test_tfl_service.py
  frontend/src/components/disruptions/DisruptionCard.test.tsx
  frontend/src/components/disruptions/DisruptionCard.tsx
  frontend/src/components/disruptions/DisruptionSummary.test.tsx
  frontend/src/components/disruptions/DisruptionSummary.tsx
  frontend/src/components/disruptions/NetworkDisruptionsList.test.tsx
  frontend/src/components/disruptions/NetworkDisruptionsList.tsx
  frontend/src/hooks/useDisruptions.test.tsx
  frontend/src/hooks/useDisruptions.ts
  frontend/src/lib/api.ts
  frontend/src/types/api-generated.ts
  frontend/src/types/index.ts
Due: mypy, prettier, eslint, tsc, frontend-build

fix: improve disruption card visual design and fix duplicate text (#333)
  frontend/src/components/disruptions/DisruptionCard.test.tsx
  frontend/src/components/disruptions/DisruptionCard.tsx
  frontend/src/components/disruptions/DisruptionSummary.test.tsx
  frontend/src/components/disruptions/DisruptionSummary.tsx
  frontend/src/lib/tfl-colors.ts
Due: prettier, eslint, tsc, frontend-build

fix: address PR 334 review comments
  frontend/src/components/disruptions/DisruptionCard.test.tsx
  frontend/src/components/disruptions/DisruptionCard.tsx
Due: prettier, eslint, tsc, frontend-build

refactor: address additional PR 334 review comments
  frontend/src/components/disruptions/DisruptionCard.tsx
  frontend/src/lib/tfl-colors.ts
Due: prettier, eslint, tsc, frontend-build

feat: group TfL disruptions by line to eliminate duplicates (#333) (#334)
  .claude/settings.json
  backend/app/api/tfl.py
  backend/app/schemas/tfl.py
  backend/app/services/tfl_service.py
  backend/openapi.json
  backend/tests/test_tfl_api.py
  backend/tests/test_tfl_service.py
  frontend/src/components/disruptions/DisruptionCard.test.tsx
  frontend/src/components/disruptions/DisruptionCard.tsx
  frontend/src/components/disruptions/DisruptionSummary.test.tsx
  frontend/src/components/disruptions/DisruptionSummary.tsx
  frontend/src/components/disruptions/NetworkDisruptionsList.test.tsx
  frontend/src/components/disruptions/NetworkDisruptionsList.tsx
  frontend/src/hooks/useDisruptions.test.tsx
  frontend/src/hooks/useDisruptions.ts
  frontend/src/lib/api.ts
  frontend/src/lib/tfl-colors.ts
  frontend/src/types/api-generated.ts
  frontend/src/types/index.ts
Due: mypy, prettier, eslint, tsc, frontend-build

fix: resolve test isolation failure in test_fetch_lines_logs_changes (#331)
  backend/tests/test_tfl_service.py
Due: none

fix: add populate_existing to ensure fresh data in change detection (#331)
  backend/app/services/tfl_service.py
  backend/tests/test_tfl_service.py
Due: mypy

fix: resolve test isolation failure in test_fetch_lines_logs_changes (#331) (#335)
  backend/app/services/tfl_service.py
Due: mypy

fix: ensure venv binaries have execute permissions in Docker image
  backend/Dockerfile
Due: none

fix: ensure venv binaries have execute permissions in Docker image (#337)
  backend/Dockerfile
Due: none

fix: update permission setting for venv binaries to avoid symlink errors
  backend/Dockerfile
Due: none
